$map-overlay-height: 150px;
#fs-contacto-iframe{
	width: 100%;
	z-index: 100;
	position: relative;
	@include media-breakpoint-up(sm) {
		top:-295px;
		height: 1000px;
	}	
	@include media-breakpoint-down(sm) {
		height: 500px;
		top:-1 * $map-overlay-height;
	}	
}
.gray-overlay-map{
	@include media-breakpoint-down(sm) {
		display: none;
	}
	background-image:linear-gradient(to bottom, #00000080 0%, #00000000 100%);
	height: $map-overlay-height;
	position: relative;
	z-index: 101;
}

#contacto-footer{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	form .form-control {

		@include media-breakpoint-up(sm) {				
	    	height: 3vw;
	    	font-size: 1.2vw;
	    	margin-bottom: 1vw;
		}
		@include media-breakpoint-down(sm) {				
	    	height: calc(2.1em + .75rem + 2px);
		}

	    margin-bottom: 14px;
	}
	textarea.form-control{
		@include media-breakpoint-up(sm) {
			height: 15.6vw;
		}
		@include media-breakpoint-down(sm) {
			height: 200px;
		}	
	}	
	h1{
		color: $text-gray;
		text-align: center;
		font-weight: 400;
		@include media-breakpoint-up(sm) {				
			font-size: 4vw;
		}
		@include media-breakpoint-down(sm) {				
			font-size: 8vw;
		}		
	}
	p{
		font-size: 24px;
		text-align: center;
		color: $text-gray;
		opacity: .5;	
		&.highlight{
			@include media-breakpoint-up(sm) {				
				font-size: 24px;
			}
			@include media-breakpoint-down(sm) {				
				font-size: 5vw;
			}		
		}	
	}
	label{
		font-weight: 400;
		text-transform: capitalize;
		color: $text-gray;
		@include media-breakpoint-up(sm) {				
			margin-bottom: .1vw;
			font-size: 1.4vw;
		}
		@include media-breakpoint-down(sm) {				
			font-size: 4.4vw;
		}
	}
	button{
		display: block;
		font-weight: 500;
		margin-left:auto;
		margin-right: 0;
		@include media-breakpoint-up(sm) {				
			font-size: 1.6vw;
		}
		@include media-breakpoint-down(sm) {				
			font-size: 22px;
			margin-right: auto;
		}
		padding: 3px 30px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		color: $text-gray;
		background-color: transparent;		
		margin-top: 0px;
		
		border: 2px solid $vincent-orange;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
		cursor: pointer;		
		&:hover{
			background-color: $vincent-orange;
			color: $white;
		}
	}
}

form{
	.form-control{
		height: calc(2.6em + .75rem + 2px);
	}
}