.fixed-button-container{
	position: fixed;
	bottom: 0;
	width: 100%;
	display:none;
	pointer-events:none;
	z-index: $zindex-fixed -2;
}
.fixed-button-wrapper{
	z-index: $zindex-fixed - 1;
	margin-right: 3vw;
	margin-left: auto;
	margin-bottom: -1px;
	margin-top: 1px;
	pointer-events:none;
	max-width: 500px;
	width: 20vw;

	overflow: hidden;

	border-style: solid;
	border-width: 1px;
	border-color: $orange;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-webkit-box-shadow: 1.5px 2.598px 5px 0 $gray-overlay;
	-moz-box-shadow: 1.5px 2.598px 5px 0 $gray-overlay;
	box-shadow: 1.5px 2.598px 5px 0 $gray-overlay;
	
	display: none;
	&.mov{
		@include media-breakpoint-up(sm) {
			display: none;
		}
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}
	&.desk{
		@include media-breakpoint-up(sm) {
			display: block;
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}

	}
}
.fixed-button-header{
	position: relative;
	display: block;
	z-index: $zindex-fixed;
	width: 100%;
	pointer-events: all;
	background-color: $vincent-orange;
	color: $white;
	cursor: pointer;
	.text-container{
		display: block;
		padding: 3px;
		width: 100%;
		font-size: 2vw;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	.cross{
		display: none;
		position:absolute;
		right: 0;
		top: 0;
		width: 1.5vw ;
		height: 1.5vw ;
		color: $text-gray;
	}
	&.open {
		.cross{
			display: block !important;
		}
	}
}
.fixed-button-body{
	pointer-events: all;
	overflow: hidden;
	background-color: $white;
	color: $text-gray;

	height: 0px;
	max-height: 85vh;

	transition:height 0.5s; 
    -webkit-transition:height 0.5s; 

    &.open{
    	height: 400px;
    }

    .form-control{
    	height: auto !important;
    }
    form{
    	@extend .py-1;
    }
    label{
    	font-weight: 500;
    }
    button{
    	background-color: $vincent-orange;
    	display: block;
    	margin: 0 auto;
    	font-weight: 600;
    }
}

.bottom-dock{
	position: fixed;
	bottom: 40px;
	width: 100%;
	height: auto;
	color: white;	
	z-index: $zindex-fixed;
	@include media-breakpoint-down(sm) {
		bottom:90px;
	}
	@include media-breakpoint-up(sm) {

	}

	.dock-button{
		background-color: $vincent-blue;
		cursor: pointer;
		text-align: center;
		padding: 4px;
		font-weight: bold;
		white-space: nowrap;
		&.desk{
			@include media-breakpoint-up(sm) {
				display: block;
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		&.mov{
			@include media-breakpoint-up(sm) {
				display: none;
			}
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
		@include media-breakpoint-between(lg,xl) {
			font-size: 2vw;
			border-radius: 6px 6px 6px 6px;
			margin-right: 20px;
			margin-left: auto;
			max-width: 20vw;
	    }
	    @include media-breakpoint-between(md,lg) {
			font-size: 1.55rem;
			border-radius: 6px 6px 6px 6px;
			margin-right: 20px;
			margin-left: auto;
			min-width: 20vw;
			max-width: 23vw;
	    }
		@include media-breakpoint-down(sm) {
			font-size: $font-size-base*1.6;
			border-radius: 6px 0px 0 6px;
			margin-right: 0;
			margin-left: auto;
			width: 45%;
			min-width: 200px;
			max-width: 250px;
	        
	    }
		a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: inherit;
			outline: none;
			white-space: nowrap;
		}
		#collapseContacto{
			z-index: $zindex-fixed+1;
			border-radius: 6px 6px 6px 6px;
			background-color: $body-bg;
			a{
				@extend .p-2;
				color: $vincent-blue
			}
		}
		img{
			display: block;
			width: 50%;
			max-width: 80px;
			height: 3px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.dock-panel{
		@extend .py-2;
		background-color: $vincent-blue;
		color: $white;
		.panel-btn{
			@extend .mt-2;
			font-size: $font-size-base*1.6;
			font-weight: bold;
			background-color: white;
			width: 100%;
			color: $vincent-blue;
		}
		p{
			font-size: $font-size-base*1.1;
		}
		

	}
}


.pulse {
  animation: pulse 1s 1s forwards;
}

.jump {
  animation: jump 1s 2s forwards cubic-bezier(.84,-0.54,.31,1.19);
}

.waggle {
  animation: waggle 1s 3s forwards ease-out;
}

.sheen {
  position: relative;
  overflow: hidden;
}

.sheen:after {
  animation: sheen 1s 4s forwards;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
  transform: rotateZ(60deg) translate(-2em, 6em);
}

.spin {
  animation: spin 1.5s 5s forwards cubic-bezier(.56,-0.35,.22,1.5);
}

.fade {
  animation: fade 1s 6.5s forwards;
}

@keyframes pulse {
  0% {
    background-color: orange;
  }
  25% {
    background-color: red;
  }
  50 {
    background-color: orange;
  }
  75% {
    background-color: red;
  }
}

@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-2em);
  }
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(25deg) scale(1.2);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  75% {
    transform: rotateZ(15deg) scale(1.2);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  85% {
    transform: rotateZ(0) scale(1.2);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}

@keyframes spin {
  50% {
    transform: rotateZ(-20deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.start-now, .start-now:after {
  animation-delay: 0;
}

html {
  background: black;
}

.buttons-container {
  font-size: 24px;
  margin: 4em auto 0;
  text-align: center;
}

button {
  background: orange;
  border: 6px solid #eee;
  border-radius: 1em;
  color: #fff;
  font-size: 24px;
  padding: 0.5em 1em;
  margin: 0.25em 0;
  min-width: 7em;
}

button:active {
  border-color: #aaa;
}

button:focus {
  outline: none;
}
