.map-container{
	.image-wrapper{
		@extend .py-1;
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
	.text-wrapper{
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			font-size: 1.6vw;
			@include make-col-offset(1);
			@include make-col(10);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
}
.svg-wrapper{
	min-height: 500px;
	@include media-breakpoint-up(xs) {
		width: 100%;
	}
	@include media-breakpoint-down(xs) {
		width: 100%;
	}
	#mapa{
		width: 100%;
	}

}
.indicador-mapa-wrapper{
	display: block;
	height: auto;
	overflow: visible;
	right: 0;
	z-index: 20;
	pointer-events: none;
	@include media-breakpoint-up(sm){
		position: absolute;
		width: 350px;
		margin-top: 60px;

	}
	@include media-breakpoint-down(sm){
		margin-top: 0px;
		position: relative;
		width: 100%;
		padding-bottom: 20px;

	}
}
.indicador-mapa{
	pointer-events: none;
	display: block;
	border-radius: 5px;
	-webkit-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.1);
	box-shadow: 3px 5.196px 12px 0
	rgba(0,0,0,.1);	
	@include media-breakpoint-between(lg,xl) {
		margin-left: auto;
		margin-right:0;
		width: 55%;
	}
	@include media-breakpoint-between(md,lg) {
		margin-left: auto;
		margin-right:0;
		width: 65%;
	}
	@include media-breakpoint-between(sm,md) {
		margin-left: auto;
		margin-right:0;
		width: 60%;
	}
	@include media-breakpoint-down(sm) {
		margin-left: auto;
		margin-right:auto;
		width: 60%;
	}	
}
.col-svg-mapa-grande{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		//@include make-col(12);
		display: none;
	}	
}
.col-svg-mapa-region, .region-data-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col-offset(1);
		@include make-col(6);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col-offset(1);
		@include make-col(6);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col-offset(0);
		@include make-col(8);

	}
	@include media-breakpoint-down(sm) {
		@include make-col-offset(0);
		@include make-col(12);
	}

}
.mapa-swiper{
	min-height: 400px;
	position:relative;
	z-index: 0;
	@include media-breakpoint-up(md){
		.swiper-button-next{
				display: none;
		}
		.swiper-button-prev{
				display: none;
		}
	}
	@include media-breakpoint-down(md){
		.swiper-button-next{
				display: block;
		}
		.swiper-button-prev{
				display: block;
		}
	}
}

.region-data-container{}
.region-data-block{
	width: 100%;
	border-style:solid;
	border-color: $text-light-gray;
	border-width: 1px;
	border-radius:10px;
}
.region-data-li-wrapper{
	border-style:solid;
	border-color: $text-light-gray;
	border-width: 0 0 1px 0;
	&:last-child{
		border-style:none;
	}
	&.mov{
		@include media-breakpoint-up(md) {	
			display: none;
		}
	}
	&.desk{
		@include media-breakpoint-down(md) {	
			display: none;
		}
	}
}
.region-data-li{
	@include media-breakpoint-up(sm) {
		padding: 1vw;
	}
	@include media-breakpoint-down(sm) {
		padding: 10px;

	}
}
.region-data-title{
	font-size: 1.5vw;
	@include media-breakpoint-down(sm) {
		font-size: 17px;
	}
	color: $text-gray;
	&.money{
		font-weight: bold;
	}
}
.region-data-value{
	font-size: 2vw;
	@include media-breakpoint-down(sm) {
		font-size: 22px;
	}	
	color: $text-black;
	&.kwp{}
	&.region{}
	&.kwh{
		color: green;
		font-size: 2.3vw;
		@include media-breakpoint-down(sm) {
			font-size: 28px;
		}
	}
	&.money{
		color: green;
		font-size: 2.5vw;
		@include media-breakpoint-down(sm) {
			font-size: 40px;
		}		
	}
}

 /* The container must be positioned relative: */
.custom-region-select {
  position: relative;
  width: 100%;
}

.custom-region-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: $white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $text-gray transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $text-gray transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: $text-gray;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent ;
  cursor: pointer;
}
.select-selected {
	padding: 8px 16px 8px 0 !important;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ddd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 300px;
  overflow: scroll;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 