.map-container{
	.image-wrapper{
		@extend .py-1;
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
	.text-wrapper{
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			font-size: 1.6vw;
			@include make-col-offset(1);
			@include make-col(10);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
}
.svg-wrapper{
	min-height: 500px;
	@include media-breakpoint-up(xs) {
		height: 95vh;
		width: 100%;
	}
	@include media-breakpoint-down(xs) {
		height: 95vh;
		width: 100%;
	}
	#mapa{
		width: 100%;
	}

}
.indicador-mapa-wrapper{
	display: block;
	height: auto;
	overflow: visible;
	right: 0;
	z-index: 20;
	pointer-events: none;
	@include media-breakpoint-up(sm){
		position: absolute;
		width: 290px;
		margin-top: 60px;

	}
	@include media-breakpoint-down(sm){
		margin-top: 0px;
		position: relative;
		width: 100%;
		padding-bottom: 20px;

	}
}
.indicador-mapa{
	pointer-events: none;
	display: block;
	border-radius: 5px;
	-webkit-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.1);
	box-shadow: 3px 5.196px 12px 0
	rgba(0,0,0,.1);	
	@include media-breakpoint-between(lg,xl) {
		margin-left: auto;
		margin-right:0;
		width: 45%;
	}
	@include media-breakpoint-between(md,lg) {
		margin-left: auto;
		margin-right:0;
		width: 50%;
	}
	@include media-breakpoint-between(sm,md) {
		margin-left: auto;
		margin-right:0;
		width: 60%;
	}
	@include media-breakpoint-down(sm) {
		margin-left: auto;
		margin-right:auto;
		width: 60%;
	}	
}
.col-svg-mapa-grande{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(3);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(3);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		//@include make-col(12);
		display: none;
	}	
}
.col-svg-mapa-region{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col-offset(2);
		@include make-col(6);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col-offset(2);
		@include make-col(6);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col-offset(0);
		@include make-col(8);

	}
	@include media-breakpoint-down(sm) {
		@include make-col-offset(0);
		@include make-col(12);
	}

}
.mapa-swiper{
	min-height: 400px;
	position:relative;
	z-index: 0;
	@include media-breakpoint-up(md){
		.swiper-button-next{
				display: none;
		}
		.swiper-button-prev{
				display: none;
		}
	}
	@include media-breakpoint-down(md){
		.swiper-button-next{
				display: block;
		}
		.swiper-button-prev{
				display: block;
		}
	}
}