.map-container{
	.image-wrapper{
		@extend .py-1;
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
	.text-wrapper{
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			font-size: 1.6vw;
			@include make-col-offset(1);
			@include make-col(10);
		}
		@include media-breakpoint-down(sm) {
			@include make-col-offset(0);
			@include make-col(12);
		}
	}
}
.svg-wrapper{
	min-height: 500px;
	@include media-breakpoint-up(xs) {
		height: 95vh;
		width: 100%;
	}
	@include media-breakpoint-down(xs) {
		height: 95vh;
		width: 100%;
	}
	#mapa{
		width: 100%;
		height: 100%;
	}

}

.col-svg-mapa-grande{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(3);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(3);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		//@include make-col(12);
		display: none;
	}	
}
.col-svg-mapa-region{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col-offset(2);
		@include make-col(6);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col-offset(2);
		@include make-col(6);
	}
	@include media-breakpoint-between(sm,md) {
		@include make-col-offset(0);
		@include make-col(8);

	}
	@include media-breakpoint-down(sm) {
		@include make-col-offset(0);
		@include make-col(12);
	}

}
.mapa-swiper{
	min-height: 400px;
	@include media-breakpoint-up(md){
		.swiper-button-next{
				display: none;
		}
		.swiper-button-prev{
				display: none;
		}
	}
	@include media-breakpoint-down(md){
		.swiper-button-next{
				display: block;
		}
		.swiper-button-prev{
				display: block;
		}
	}
}