header{
	@include media-breakpoint-between(lg,xl) {
		padding: 30px 40px;
		position: relative;
	}
	@include media-breakpoint-between(md,lg) {
		padding: 20px 40px;
		position: relative;
	}
	@include media-breakpoint-down(sm) {
		padding: 0;
		position: relative;
	}	
	z-index: $zindex-fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	z-index: 9999;
	&.desk{
		@include media-breakpoint-between(lg,xl) {
			display: block;
		}
		@include media-breakpoint-between(md,lg) {
			display: block;
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}		
	}
	&.mov{
		@include media-breakpoint-between(lg,xl) {
			display: none;
		}
		@include media-breakpoint-between(md,lg) {
			display: none;
		}
		@include media-breakpoint-down(sm) {
			display: block;
		}		
	}
	.flex-container{
		.logo{
			max-width: 190px !important;
			img{
				width: 100%;
				height: auto;
			}
		}

		.secondary-nav{
			ul{
				margin-bottom: 0;
			}			
			li{
				display: inline;
			}
			a{
				@include media-breakpoint-up(lg) {
					font-size: 16px;
				}
				@include media-breakpoint-down(lg) {
					font-size: 12px;
				}				
				color: $text-black;
				&:hover{
					color: inherit;
				}
			}
		}
	}
}
nav{
	li{
		list-style: none !important;
	}
	ul.menu{
		margin-bottom: 0;
				
	}
	ul.menu > li.menu-item{
		display: inline;
		padding-bottom: 30px;
	}	
	ul.sub-menu{
		display: none;
	}
/*
	ul li:hover > ul.sub-menu{
		display: block;
		position: absolute;
		background-color: red;
	}
	li.menu-image{
		z-index: 1500;
		padding-top: 10px 0 $menu-li-height 0;
		a:before{
			z-index: 1501;
			width: 120px;
			height: $menu-li-height - 20px;
			position: absolute;
			overflow: hidden;
			display: block;
			content: url('https://via.placeholder.com/300x100');
		}
	}
*/
	a{
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
		@include media-breakpoint-down(lg) {
			font-size: 12px;
		}				
		color: $text-black;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 0.4vw;
		font-weight: bold;						
		&:hover{
			color: inherit;
		}
	}
}
.floating-menu-container{
	width: 100vw;
	height: 80vh;
	z-index: 9998;
	pointer-events: none;
	position: absolute;
}
.floating-menu{
	@extend .container;
	padding-top:15px;
	pointer-events: auto;
	display: none;
	overflow: hidden;
	&.visible{
		display: block !important;
	}
	background-color: $white;
	color: $text-black;
	z-index: 9999;
	ul{
		padding-left: 0;
		@include make-row();
	}
	li{
		list-style: none;
	}
	li.menu-image{
		@include make-col-ready();
		@include make-col(6);
	}
	li.menu-secondary{
		@include make-col-ready();
		@include make-col(12);		
	}
	a{
		display: block;
		color: $text-black;
		font-weight: bold;
		font-size: 20px;
	}
	li.menu-secondary > a{
		color: $vincent-blue;
		font-size: 15px;
		&:before{
			content: ">";
		}
	}
	.bg-image{
		width: 100%;
		height: 100px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;		
		&.casa-ongrid{
			background-image: url('https://via.placeholder.com/300x100');
		}
		&.casa-offgrid{
			background-image: url('https://via.placeholder.com/300x101');
		}
		&.empresa-ongrid{
			background-image: url('https://via.placeholder.com/300x102');
		}
	}
}
.top-bar{
	position: relative;
	height: $menu-height;
	width: 100vw;
	background-color: $white;
	.logo{
		position: absolute;
		left: 0;
		top: 0;
		height: $menu-height;
		width: 50%;
		background-position: left center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.hamburguer{
		position: absolute;
		top:0;
		right:0;
		height: $menu-height;
		width: $menu-height;
		background-color: $white;
	}
}
//HAMBURGUER
#hamburguer-icon{
  width: 60px * $hamburguer-scale;
  height: 45px * $hamburguer-scale;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: ($menu-height - 45px * $hamburguer-scale)/2;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburguer-icon span {
  display: block;
  position: absolute;
  height: 5px * $hamburguer-scale;
  width: 100%;
  background: $text-black;
  border-radius: 5px * $hamburguer-scale;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburguer-icon span:nth-child(1) {
  top: 0px * $hamburguer-scale;
}

#hamburguer-icon span:nth-child(2) {
  top: 18px * $hamburguer-scale;
}

#hamburguer-icon span:nth-child(3) {
  top: 36px * $hamburguer-scale;
}

#hamburguer-icon.open span:nth-child(1) {
  top: 18px * $hamburguer-scale;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburguer-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px * $hamburguer-scale;
}

#hamburguer-icon.open span:nth-child(3) {
  top: 18px * $hamburguer-scale;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu-mov-container{
	-webkit-transition: margin-left .4s;
	-moz-transition: margin-left .4s;
	-o-transition: margin-left .4s;
	transition: margin-left .4s;
	background-color: black;
	height: 100vh;
	min-width: 200px;
	z-index: $zindex-fixed;
	position: fixed;
	left: 0;
	top:0;
	color: $white !important;
	width: 75vw;
	margin-left: -75vw;
	&.visible{
		margin-left: 0;
	}
	a{
		color: inherit !important;
		font-weight: bold;
		font-size: 16px;
	}
	ul{
		padding:10px;
		position: relative;
		list-style: none;
		&:before{
			content: "MENU";
			top: 0;
			left: 0;
			font-size: 16px;
		}
		li{
			font-size: 18px;
			line-height: 26px;
			padding: 10px 5px 10px 5px;
			font-weight: 400;
			border-style: solid;
			border-color: $white-overlay;
			border-width: 0 0 1px 0;
			&:first-child{
				border-width: 1px 0 1px 0;

			}
			&:before {
				color: transparent; ;
				content: none;
				position: absolute;
				left: 0;
			}
		}
	}
}