$oferta-wide-scale-sm:1;
$oferta-wide-scale-md:0.8;
$oferta-wide-scale-lg:0.7;
$oferta-wide-scale-xl:1;
#titulo-ofertas{
	text-transform: uppercase;
	color: $text-grayer;
	line-height: 1;
	span{
		font-weight: 800;
		@include media-breakpoint-between(md,xl) {
			font-size: 2.2vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 18px;
		}		
		&.ongrid{
			color: $green;
		}
		&.offgrid{
			color: $red;
		}
	}
}

.kit-group{
	margin-bottom: 10px;
	h1{

	}
	section{
		@extend .vp-b;
	}
}
.kit-group-header{
	@include make-col-ready();
	@include make-col(12);
}
.kit-group-header-text{
	padding-bottom: 20px;
	h1{
		display: inline;
		padding:5px;
		color: $vincent-orange;
		background-color: $white;
		margin: 0;
		text-transform: uppercase;
		font-weight: 700;

		@include media-breakpoint-up(xl) {
			font-size: 50px;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 3vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 35px;
		} 	
	}
	p{
		line-height: 1.1;
		color: $text-grayer;
		@include media-breakpoint-up(sm) {
			font-size: 1.8vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 17px;
		} 			
	}

	&.ongrid{
		color: $green;
	}

	&.offgrid{
		color: $red;
	}
}
.kit-group-header-icons{
	@include media-breakpoint-between(lg,xl) {
		max-width: 400px;
	}
	@include media-breakpoint-between(md,lg) {
		max-width: 300px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	} 	
}

.kits-container{
	@extend .container;
	padding-top: 0 !important;
}
.oferta-short{
	width: auto;
	margin-bottom: 15px;
	font-weight: 900;
	cursor: pointer;
	@include media-breakpoint-between(lg,xl) {
		font-size: 18px;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 18px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		@include make-col-ready();
		@include make-col(6);
	}	
}
.oferta-short-title{
	span{
		font-size: inherit;
		background-color: $red-impact;
		color: $white;
		font-weight: inherit;
		padding: 3px;
		border-radius: 3px;
	}
}
.oferta-price-tag{
	span{
		font-size: inherit;
		color: $text-black;
		font-weight: inherit;

	}
}	
.kit-group-body-banner{
	@include media-breakpoint-between(lg,xl) {
		width: 50%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}


.oferta-single-row{

}
.oferta-header{

}
.oferta-category-kit-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
		padding:0 60px;
	}	
}
.oferta-full-description-container{
	@include make-col-ready();
	@include make-col(12);  
}
.oferta-description-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(8);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(8);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
		margin-top: 25px;
	}	
}
.oferta-gallery-container{
	@include make-col-ready();	
	@include make-col(12);	
}
.oferta-gallery{
	@include make-row();
}
.oferta-gallery-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(6);  
	}
	padding-top: 10px;
	a{
		display: block;
		height: 200px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}	
}

.ofertas-index-container{
	@include make-container();
	@include media-breakpoint-between(lg,xl) {
		display: none;
	}
	@include media-breakpoint-between(sm,lg) {
		display: none;
	}
	@include media-breakpoint-down(xs) {
		display: block;
	}
}
.ofertas-index-header-line{
	display: block;
	width: 75vw;
	height: 2px;
	background-color: $text-black;
	border-radius: 2px;
	margin: 0 auto;
}
.ofertas-index-header{
	@include make-row();
	background-color: $vincent-blue;
	max-height: 100px;
	color: #fff;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 7px;
	margin-bottom: 1px;
	svg{
		width: 100%;
	}
}


.oferta-index-category-kit-img{
	@extend .flex-container;
	width: 100%;
	img{
		width: 100%;
		height: auto;
	}
	.center-img{
		height: auto;
		width: 64vw;

	}
}
.oferta-index-single-row{
	@include make-row();
	background-position: contain;
	background-repeat: no-repeat;
	background-size: cover;	
}
.oferta-index-title{
	@extend .mx-auto;
	display: block;
    font-weight: bold;
    text-align: left;
    min-width: 70%;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.0;
    padding-top: 10px;
    span{
    	text-align: left;
    	color: $vincent-orange;
    	font-size: 40px;
    }
}
.oferta-index-single-row{
}


.oferta-index-price-header{
	width: 100%;
    padding: 0 19px;
    line-height: 0.8;
	text-align: right;
	font-size: 14.5vw;
	font-weight: 900;
	color: $vincent-orange;
	padding-right: 9vw;
	&:before{
		content: "$";
		color: $vincent-blue;
	    font-size: 10vw;
	    font-weight: 900;
	    margin-left: -6vw;
	    margin-top: 0;
	    position: absolute;
	}
}
.oferta-index-description-container{
	width: 100%;

}
.oferta-index-bullets{
	font-family: 'Azo Sans';
	color: $text-grayer;
	width: 100%;
	font-weight: 500;
	@include media-breakpoint-up(xl) {
		margin-top:0 * $oferta-wide-scale-xl;
		font-size: 15px  * $oferta-wide-scale-xl;
		padding-bottom: 30px * $oferta-wide-scale-xl;		
	}
	@include media-breakpoint-between(md,lg) {
		margin-top:0 * $oferta-wide-scale-md;
		font-size:1.7vw  * $oferta-wide-scale-md;
		padding-bottom:3vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		margin-top:0 * $oferta-wide-scale-sm;
		font-size:1.7vw  * $oferta-wide-scale-sm;
		padding-bottom:3vw * $oferta-wide-scale-sm;
	}	
    @include media-breakpoint-down(xs) {
		font-size:3.5vw ;
	    padding: 2vw 0 2vw 18vw  ;
	    letter-spacing: -1.5px;
    }
	.bullet{
	    font-size: inherit;
		color: inherit;
		white-space: nowrap;
		line-height: 1.2;
		.bullet-image{
			height: 20px ;
			display: inline-block;
			width: 24px ;
			@include media-breakpoint-down(xs) {
				width: 20px ;
			}
		}
	}
}

.popup-close-button{
	position: absolute;
	right: 0;
}
#modalOferta > .modal-dialog{
	margin: 6.75rem auto;
}

.swiper-ofertas{
	height: auto;
	@include media-breakpoint-up(xl) {
		min-width: none;
	}
	@include media-breakpoint-between(md,lg) {
		min-width: 34vw;
	}
	@include media-breakpoint-between(sm,md) {
		min-width: 450px;
	}	

	.swiper-pagination{
		bottom: 0vw;
		height: 2vw;
	}
}

h2.titulo-oferta{
	color: $text-grayer ;
	font-weight: 500;
	span{
		color: inherit;
		text-transform: lowercase;
	}

	@include media-breakpoint-up(xl) {
		font-size: 40px  * $oferta-wide-scale-xl;
		letter-spacing: -2px * $oferta-wide-scale-xl;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 3.7vw  * $oferta-wide-scale-md;
		letter-spacing: -2px * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 3.7vw * $oferta-wide-scale-sm;
		letter-spacing: -2px * $oferta-wide-scale-sm;
	}		
	@include media-breakpoint-down(xs) {
		font-family: 'Azo Sans';
		text-align: center;
		padding:0 20px;
		font-size: 7vw ;
		font-weight: 700;
		margin-top:20px;
		letter-spacing: -1.75px;
	}	

}

.single-oferta-container-padding{
	display: block;
	margin: 0 auto;
	@include media-breakpoint-up(xl) {
		width: 100% * $oferta-wide-scale-xl;
	}
	@include media-breakpoint-between(lg,xl) {
		width: 100% * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100% * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		width: 100% * $oferta-wide-scale-sm;
	}	
}
.single-oferta-container{
	display: block;
	@extend .container-fluid;
	margin-top: 100px;
	font-family: "Azo Sans";
	height: auto;
	cursor: default;
	@include media-breakpoint-up(xl) {
		padding: 30px ;
	}
	@include media-breakpoint-down(xl) {
		padding: 3vw ;
	}

	cursor: pointer !important;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.col-fotos{
		@include make-col-ready();
		@include make-col(4);
		.col-fotos-kit{
			z-index: 1;
			position:relative;
			@include make-col(12);
			.kit-img{	
				padding: 0 0vw ;
			}

		}
	}
	.col-precio{
		@include make-col(8);

		@include media-breakpoint-up(xl) {
			padding-left: 30px * $oferta-wide-scale-xl;
		}
		@include media-breakpoint-between(md,lg) {
			padding-left:4vw  * $oferta-wide-scale-md !important;
		}
		@include media-breakpoint-between(sm,md) {
			padding-left:4vw  * $oferta-wide-scale-sm !important;
		}
	}
	@include media-breakpoint-down(xs) {

	}	
}

.ofertas-wide{
	padding: 0 !important;
	@include media-breakpoint-up(xs) {
		display: block;
	}
	@include media-breakpoint-down(xs) {
		display: none;
	}	
}

.oferta-wide-pricetag{
	font-family: 'Azo Sans';
	color: $red-impact;
	font-weight: 700;
	white-space: nowrap;
	width: 100%;
	text-align: left;
	@include media-breakpoint-up(xl) {
		font-size: 48px * $oferta-wide-scale-xl;
		line-height: 1.5;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 3.5vw  * $oferta-wide-scale-md;
		line-height: 1.5;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 3.5vw * $oferta-wide-scale-sm;
		line-height: 1.5;
	}
	@include media-breakpoint-down(xs) {
		font-size: 9vw ;
		padding-left:5vw;
		font-weight: 700;
		letter-spacing: -2px;
	}		

	&:before{
		content: "$";
		color: inherit;

		@include media-breakpoint-up(xl) {
			font-size: 2px * 20 * $oferta-wide-scale-lg ;
		    margin-left: -1.3px * 20 * $oferta-wide-scale-lg ;
			margin-top: 1px * 20 * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 2vw * $oferta-wide-scale-md ;
		    margin-left: -1.3vw * $oferta-wide-scale-md ;
			margin-top: 1vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 2vw * $oferta-wide-scale-sm ;
		    margin-left: -1.3vw * $oferta-wide-scale-sm ;
			margin-top: 1vw * $oferta-wide-scale-sm ;
		}		
		@include media-breakpoint-down(xs) {
			font-size: 5.14vw ;
		    margin-left: -5.3vw ;
			margin-top: 3vw ;
		}		
	    font-weight: inherit;
	    position: absolute;
	}
	&:after{
		display: none;
		content: "(Precio con IVA incluido)";
		color: inherit;
		@include media-breakpoint-between(lg,xl) {
			font-size: 1vw * $oferta-wide-scale-lg ;
		    margin-left: -13.4vw * $oferta-wide-scale-lg ;
			margin-top: 4vw * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 1vw * $oferta-wide-scale-md ;
		    margin-left: -13.4vw * $oferta-wide-scale-md ;
			margin-top: 4vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 1vw * $oferta-wide-scale-sm ;
		    margin-left: -13.4vw * $oferta-wide-scale-sm ;
			margin-top: 4vw * $oferta-wide-scale-sm ;
		}			

		@include media-breakpoint-down(xs) {
			font-size: 2.57vw ;
		    margin-left: -30.4vw ;
		    margin-top: 11vw ;
		}		
	    position: absolute;
	}
}
.valor-oferta{
	width: 100%;
	@include media-breakpoint-between(lg,xl) {
		font-size: 2vw * $oferta-wide-scale-lg ;
		margin-top: 2vw * $oferta-wide-scale-lg;
		margin-bottom: -1vw * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 2vw * $oferta-wide-scale-md ;
		margin-top: 2vw * $oferta-wide-scale-md;
		margin-bottom: -1vw  * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 2vw * $oferta-wide-scale-sm ;
		margin-top: 2vw * $oferta-wide-scale-sm;
		margin-bottom: -1vw * $oferta-wide-scale-sm;
	}		
	@include media-breakpoint-down(xs) {
		display: none;
		font-size: 4.14vw ;
		font-weight: 500;
		line-height: 0;
		margin-top: 2vw ;
		margin-bottom: -1vw ;
	}
	font-weight: 500;
	color: $red-impact;
}


.footer-ofertas-container{
	@extend .container-fluid;
	background-color: $dark-bg;

}
.footer-ofertas-swiper{
	padding: 0 $grid-gutter-width/2;
	@include media-breakpoint-down(sm) {
		display: none;
	}	
	.swiper-slide{
	}
	.descripcion-oferta{
		min-height: 200px;
		ul{
			@include media-breakpoint-between(lg,xl) {
				font-size: 20px;
			}
			@include media-breakpoint-between(md,lg) {
				font-size: 20px;
			}
			@include media-breakpoint-between(sm,md) {
				font-size: 20px;
			}			
			@include media-breakpoint-down(xs) {
				font-size: 20px;
			}					
		}
	}
	.title{
		font-weight: 400;
		@include media-breakpoint-between(lg,xl) {
			font-size: 27px;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 27px;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 27px;
		}			
		@include media-breakpoint-down(xs) {
			font-size: 27px;
		}		
		span{
			font-weight: 700;
		}
	}
}
.oferta-wide-footer{
	display: block;
	width: 100%;
	.proud-to-be{
		height: auto;
		margin: 0 auto;
		@include media-breakpoint-up(xl) {
			width: 80px * $oferta-wide-scale-xl ;
		}
		@include media-breakpoint-between(md,lg) {
			width: 5vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			width: 5vw * $oferta-wide-scale-sm ;
		}			
		@include media-breakpoint-down(xs) {
			width: 20vw;
			padding-top: 16vw;
		    padding-bottom: 5px;
		}
	}
	.cgreen-logo{
		position:absolute;
		@include media-breakpoint-up(xl) {
			width: 70px * $oferta-wide-scale-xl ;
			left: 20px * $oferta-wide-scale-xl ;
			top: 340px * $oferta-wide-scale-xl ;
		}
		@include media-breakpoint-between(md,lg) {
			width: 6vw * $oferta-wide-scale-md ;
			left: 1vw * $oferta-wide-scale-md ;
			top: 30vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			width: 6vw * $oferta-wide-scale-sm ;
			left: 1vw * $oferta-wide-scale-sm ;
			top: 30vw * $oferta-wide-scale-sm ;
		}		
	}
}
.visita-tecnica{
	position:relative;
	height: 0;
	margin-left: auto;
	overflow: visible;
	@include media-breakpoint-up(xl) {
	    top: -100px  * $oferta-wide-scale-xl;
	    margin-right: -30px * $oferta-wide-scale-xl;
	    width: 160px * $oferta-wide-scale-xl;		
	}
	@include media-breakpoint-between(md,lg) {
		top: -11.125vw * $oferta-wide-scale-md;		
		margin-right: -3.75vw * $oferta-wide-scale-md;
		width: 15vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		top: -13.5vw * $oferta-wide-scale-sm;		
		margin-right: -3vw * $oferta-wide-scale-sm;
		width: 15vw * $oferta-wide-scale-sm;
	}
	@include media-breakpoint-down(xs) {
		top:-30vw;
		width: 30vw;
		margin-right: 0;
	}

}
.oferta-price-mov-container{
	display: block;
	width: 100%;
	padding:0 0 0 17vw;
}
.oferta-mov-header{
	width: 100%;

}
.superoferta-wrapper{
	height: 0;
	overflow: visible;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: 5;
	@include media-breakpoint-up(xl) {
	    width: 140px;
		margin-left: 50%  * $oferta-wide-scale-xl;
		img{
		}
	}
	@include media-breakpoint-between(md,lg) {
	    width: 37%;
		img{
			margin-left: 20vw  * $oferta-wide-scale-md;
		}
	}
	@include media-breakpoint-between(sm,md) {
	    width: 37%;
		img{
			margin-left: 20vw  * $oferta-wide-scale-sm;
		}
	}	
	@include media-breakpoint-down(xs) {
	    width: 27%;
		img{
			margin-left: 50vw ;
		}
	}	
}
.instalacion-red-tag{
	background-color: $red-impact;
	color: $white;
    font-weight: 600;
    white-space: nowrap;
	text-transform: uppercase;
    display: inline;
    line-height: 0;

	@include media-breakpoint-up(xl) {
		font-size: 1px * 17 * $oferta-wide-scale-lg;
	    padding: 0.3px * 17 * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 1vw * $oferta-wide-scale-md;
	    padding: 0.3vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 1vw * $oferta-wide-scale-sm;
	    padding: 0.3vw * $oferta-wide-scale-sm;
	}
	@include media-breakpoint-down(xs) {
	    font-size: 3vw;
	    padding: 1vw; 
	}	    
}

.kit-verticals-row{
	&.d-none-mov{
		@include media-breakpoint-down(sm) {
			display: none;
		}	
	}
}
$verticals-height: 300px ;
.kit-verticals-col{
	width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
	@include media-breakpoint-up(xl) {
		min-height: $verticals-height;
	}
	@include media-breakpoint-between(md,lg) {
		min-height: $verticals-height;
	}
	@include media-breakpoint-between(sm,md) {
		min-height: $verticals-height/2;
		padding-top:15px;
	}
	@include media-breakpoint-down(xs) {
		padding:3px 0 !important;
		min-height: 0;
		margin-bottom: 6px;
	}		
}
.kit-verticals-img{
	width: 100%;
	height: auto;
	display: block;
	position:absolute;
	background-color: white;
	z-index: 0;
	@include media-breakpoint-down(xs) {
		margin-top: -100px;
		transition:filter 0.5s; 
		-webkit-transition:filter 0.5s;
	}
	@include media-breakpoint-up(xs) {
		transition:filter 1.5s; 
		-webkit-transition:filter 1.5s; 	
	}

	filter: none;
	-webkit-filter: grayscale(100%);
	&.colored{
		-webkit-filter: grayscale(0%) !important; 
	}
}
.kit-verticals-text-body{
	display: block;
	position:relative;
	z-index: 100;
	width: 100%;
	color: $text-grayer;
	@include media-breakpoint-between(lg,xl) {
		padding: ($verticals-height - 100px) 15% 0 20%;
	}
	@include media-breakpoint-between(md,lg) {
		padding: ($verticals-height - 100px) 15% 0 20%;
	}
	@include media-breakpoint-between(sm,md) {
		padding: 15px 15% 0 20%;
	}
	@include media-breakpoint-down(sm) {
		padding: 15px;
	}			

	@include media-breakpoint-down(sm){
		transition:none; 
		-webkit-transition:none; 			
		min-height: $verticals-height;
	}

	text-shadow: 1px 1px $text-grayer;
	color: $white;
	.little-title{
		font-weight: 700;
		white-space: nowrap;
		line-height: 0;
		@include media-breakpoint-between(lg,xl) {
			font-size: 14px ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 12px ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 10px ;
		}
		@include media-breakpoint-down(sm) {
			font-size: 15px ;
		}			
	}
	.kw{
		font-weight: 900;
		display: inline;
		white-space: nowrap;
		@include media-breakpoint-between(lg,xl) {
			font-size: 50px ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 45px ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 40px ;
		}
		@include media-breakpoint-down(sm) {
			font-size: 45px ;
		}			
		span{
			display: inline;
			font-weight: 700;
		}
	}

}

.ofertas-empresa-swiper{
	height: 115vw;
	@include media-breakpoint-up(sm) {
		display: none;
	}		
	@include media-breakpoint-down(sm) {
		display: block;
	}		
}
.empresa-slide{
	width: 100%;
	height: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.img-wrapper-empresa{
	@include media-breakpoint-up(xs) {
		padding: 0 15%;
	}		
	@include media-breakpoint-down(xs) {
		padding:0;
	}
}

.oferta-feat{
	display: inline-block;
	color: $text-gray;
	background-color: $white;
	border-radius:40px;
	border-style: solid;
	border-width:3px;
	border-color:$text-gray;
	cursor: pointer;
	margin-bottom: 10px;
	&:hover{
		color:$white;
		background-color: $green;
	}
}
.oferta-feat-wrapper{
	padding: 10px;
}