.kit-group{
	@extend .col-md-12;
	margin-top: 40px;
	margin-bottom: 10px;
	h1{

	}

}
.kit-group-header{
	@include media-breakpoint-between(md,xl) {
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-align: center; 
		-webkit-align-items: center; 
		-moz-box-align: center; 
		-ms-flex-align: center; 
		align-items: center; 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		-moz-box-pack: center; 
		-ms-flex-pack: center; 
		justify-content: center;
		//space-between
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	} 	
	border-style: solid;
	border-color: $dark-bg;
	border-width: 0 0 1px 0;
}
.kit-group-header-text{
	h1{
		margin: 0;
	}
	p{
		line-height: 1.1;
	}
}
.kit-group-header-icons{
	@include media-breakpoint-between(lg,xl) {
		max-width: 400px;
	}
	@include media-breakpoint-between(md,lg) {
		max-width: 300px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	} 	
}
.kit-group-body{
	@include media-breakpoint-between(md,xl) {
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-align: center; 
		-webkit-align-items: center; 
		-moz-box-align: center; 
		-ms-flex-align: center; 
		align-items: center; 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		-moz-box-pack: center; 
		-ms-flex-pack: center; 
		justify-content: center;
		//space-between
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	} 	
}
.kit-group-body-image{
	padding: 30px;
	@include media-breakpoint-between(lg,xl) {
		width: 30%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.kit-group-body-ofertas{
	@include media-breakpoint-between(lg,xl) {
		width: 20%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		@include make-row();

	}
}
.oferta-short{
	width: auto;
	margin-bottom: 15px;
	font-weight: 900;
	cursor: pointer;
	@include media-breakpoint-between(lg,xl) {
		font-size: 18px;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 18px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		@include make-col-ready();
		@include make-col(6);
	}	
}
.oferta-short-title{
	span{
		font-size: inherit;
		background-color: $red-impact;
		color: $white;
		font-weight: inherit;
		padding: 3px;
		border-radius: 3px;
	}
}
.oferta-price-tag{
	span{
		font-size: inherit;
		color: $text-black;
		font-weight: inherit;

	}
}	
.kit-group-body-banner{
	@include media-breakpoint-between(lg,xl) {
		width: 50%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}


.oferta-single-row{

}
.oferta-header{

}
.oferta-category-kit-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
}
.oferta-description-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(8);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(8);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
		margin-top: 25px;
	}	
}
.oferta-consultar-button{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	.consultar-button-wrapper{
		display: block;
		width: auto;
		margin: 0 0 0 auto;
	}
	.consultar-button{
		position: absolute;
		right: 0;	
		text-align: center;
		width: auto;
		background-color: $vincent-orange;
		color: $white;
		font-weight: 900;
		font-size: 20px;
		text-decoration: none;
		padding: 8px 37px;
		border-radius: 50px;
		&:hover{
			text-decoration: none;
		}
	}
}
.oferta-price-header{
	//@extend .flex-container;
	height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-style: solid;
	border-color: $dark-bg;
	border-width: 1px 0 1px 0;

	.price-tag{
		font-size: 33px;
		font-weight: 900;
		position: absolute;
		top: 60px;
		left:40%;
		color: $red-impact;

	}
	.price-facilidades{
		font-weight: bold;
		position: absolute;
		top: 105px;
		left:40%;
	}
}
.oferta-gallery-container{
	@include make-col-ready();	
	@include make-col(12);	
}
.oferta-gallery{
	@include make-row();
}
.oferta-gallery-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(6);  
	}
	padding-top: 10px;
	a{
		display: block;
		height: 200px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}	
}

.ofertas-index-container{
	@include make-container();
	@include media-breakpoint-between(lg,xl) {
		display: none;
	}
	@include media-breakpoint-between(md,lg) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	}
}
.ofertas-index-header-line{
	display: block;
	width: 75vw;
	height: 2px;
	background-color: $vincent-blue;
	border-radius: 2px;
	margin: 0 auto;
}
.ofertas-index-header{
	@include make-row();
	background-color: $vincent-blue;
	max-height: 100px;
	color: #fff;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 900;
	margin-top: 7px;
	margin-bottom: 1px;
	svg{
		width: 100%;
	}
}
.oferta-index-banner-image, .oferta-index-contacto{
	@include make-col(12);
	display: block;
}
.oferta-index-contacto{
	background-color: $vincent-blue;
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;	
}

.oferta-index-category-kit-img{
	@extend .flex-container;
	width: 100%;
	img{
		width: 100%;
		height: auto;
	}
	.left-img{
		width: 17vw;
		.italian-flag{
			position: absolute;
			height: 10px;
			width: 15vw;
			margin-right: 0;
			margin-left: auto;
			background-color: red;
		}
	}
	.center-img{
		height: auto;
		width: 40vw;

	}
	.right-img{
		width: 17vw;

	}
}
.oferta-index-single-row{
	@include make-row();
}
.oferta-index-title{
	@extend .mx-auto;
	display: block;
	font-style: italic;
    font-weight: bold;
    text-align: left;
    min-width: 70%;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.0;
    padding-top: 10px;
    span{
    	text-align: left;
    	color: $vincent-orange;
    	font-size: 40px;
    }
}
.oferta-index-single-row{
}

.oferta-index-title-svg{
	width: 100%;
	margin-left: -15px;
	svg{
		width: 100%;
		height: auto;
	}
	text.cls-2{
		fill: $vincent-blue;
	}
	text.cls-3, text.cls-4{
		fill: $vincent-orange;
	}
}




.oferta-index-price-header{
	width: 100%;
    padding: 0 19px;
    line-height: 0.8;
	text-align: right;
	font-size: 14.5vw;
	font-weight: 900;
	font-style: italic;
	color: $vincent-orange;
	padding-right: 9vw;
	&:before{
		content: "$";
		color: $vincent-blue;
	    font-size: 10vw;
	    font-weight: 900;
	    font-style: italic;
	    margin-left: -22px;
	    margin-top: 0;
	    position: absolute;
	}
}
.oferta-index-description-container{
	width: 100%;

}
.oferta-index-bullets{
	padding-left: 20%;
	width: 100%;
    margin-top: -7px;
    padding-bottom: 10px;
	.bullet{
	    padding-top: 2px;
	    font-size: 20px;
		color: $vincent-blue;
		.bullet-image{
			width: 30px;
			height: 20px;
			display: inline-block;
		}
	}
}

