.kit-group{
	@extend .col-md-12;
	margin-top: 40px;
	margin-bottom: 10px;
	h1{

	}

}
.kit-group-header{
	@include media-breakpoint-between(md,xl) {
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-align: center; 
		-webkit-align-items: center; 
		-moz-box-align: center; 
		-ms-flex-align: center; 
		align-items: center; 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		-moz-box-pack: center; 
		-ms-flex-pack: center; 
		justify-content: center;
		//space-between
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	} 	
	border-style: solid;
	border-color: $dark-bg;
	border-width: 0 0 1px 0;
}
.kit-group-header-text{
	h1{
		margin: 0;
	}
	p{
		line-height: 1.1;
	}
}
.kit-group-header-icons{
	@include media-breakpoint-between(lg,xl) {
		max-width: 400px;
	}
	@include media-breakpoint-between(md,lg) {
		max-width: 300px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	} 	
}
.kit-group-body{
	@include media-breakpoint-between(md,xl) {
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -moz-box; 
		display: -ms-flexbox; 
		display: flex; 
		-webkit-box-align: center; 
		-webkit-align-items: center; 
		-moz-box-align: center; 
		-ms-flex-align: center; 
		align-items: center; 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		-moz-box-pack: center; 
		-ms-flex-pack: center; 
		justify-content: center;
		//space-between
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	} 	
}
.kit-group-body-image{
	padding: 30px;
	@include media-breakpoint-between(lg,xl) {
		width: 30%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.kit-group-body-ofertas{
	@include media-breakpoint-between(lg,xl) {
		width: 20%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		@include make-row();

	}
}
.oferta-short{
	width: auto;
	margin-bottom: 15px;
	font-weight: 900;
	cursor: pointer;
	@include media-breakpoint-between(lg,xl) {
		font-size: 18px;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 18px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		@include make-col-ready();
		@include make-col(6);
	}	
}
.oferta-short-title{
	span{
		font-size: inherit;
		background-color: $red-impact;
		color: $white;
		font-weight: inherit;
		padding: 3px;
		border-radius: 3px;
	}
}
.oferta-price-tag{
	span{
		font-size: inherit;
		color: $text-black;
		font-weight: inherit;

	}
}	
.kit-group-body-banner{
	@include media-breakpoint-between(lg,xl) {
		width: 50%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}


.oferta-single-row{

}
.oferta-header{

}
.oferta-category-kit-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
}
.oferta-description-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(8);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(8);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
}
.oferta-consultar-button{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	.consultar-button-wrapper{
		display: block;
		width: auto;
		margin: 0 0 0 auto;
	}
	.consultar-button{
		position: absolute;
		right: 0;	
		text-align: center;
		width: auto;
		background-color: $vincent-orange;
		color: $white;
		font-weight: 900;
		font-size: 20px;
		text-decoration: none;
		padding: 8px 37px;
		border-radius: 50px;
		&:hover{
			text-decoration: none;
		}
	}
}
.oferta-price-header{
	@extend .flex-container;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-style: solid;
	border-color: $dark-bg;
	border-width: 1px 0 1px 0;

	.price-tag{
		font-size: 33px;
		font-weight: 900;
		color: $red-impact;

	}
	.price-facilidades{
		font-weight: bold;
		position: absolute;
		top: 105px;
	}
}
.oferta-gallery-container{
	@include make-col-ready();	
	@include make-col(12);	
}
.oferta-gallery{
	@include make-row();
}
.oferta-gallery-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(6);  
	}
	padding-top: 10px;
	a{
		display: block;
		height: 200px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}	
}