$oferta-wide-scale-sm:1;
$oferta-wide-scale-md:0.8;
$oferta-wide-scale-lg:0.7;
#titulo-ofertas{
	text-transform: uppercase;
	color: $text-grayer;
	line-height: 1;
	span{
		font-weight: 800;
		@include media-breakpoint-between(md,xl) {
			font-size: 2.2vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 18px;
		}		
		&.ongrid{
			color: $green;
		}
		&.offgrid{
			color: $red;
		}
	}
}

.kit-group{
	margin-top: 40px;
	margin-bottom: 10px;
	h1{

	}
	section{
		padding-top: $section-padding-top / 4;
		padding-bottom: $section-padding-bottom;		
	}
}
.kit-group-header{
	@include make-col-ready();
	@include make-col(12);
}
.kit-group-header-text{
	h1{
		margin: 0;
		text-transform: uppercase;
		font-weight: 900;
		padding-bottom: 20px;
		@include media-breakpoint-up(sm) {
			font-size: 3vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 35px;
		} 	
	}
	p{
		line-height: 1.1;
		color: $text-grayer;
		@include media-breakpoint-up(sm) {
			font-size: 1.8vw;
		}
		@include media-breakpoint-down(sm) {
			font-size: 17px;
		} 			
	}

	&.ongrid{
		color: $green;
	}

	&.offgrid{
		color: $red;
	}
}
.kit-group-header-icons{
	@include media-breakpoint-between(lg,xl) {
		max-width: 400px;
	}
	@include media-breakpoint-between(md,lg) {
		max-width: 300px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	} 	
}
.kit-group-body{
	@include make-col-ready();
	@include make-col(12);
}
.kit-group-body-image{
	padding: 30px;
	@include media-breakpoint-between(lg,xl) {
		width: 30%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.kit-group-body-ofertas{
	@include media-breakpoint-between(lg,xl) {
		width: 25%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 30%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;

	}
}
.kits-container{
	@extend .container;
	padding-top: 0 !important;
}
.kit-col-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col-ready();
		@include make-col(3);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(3);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(6);
	}
	padding:0;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	img{
		z-index: 1;
		position: absolute;
		display: block;
		height: 400px;
		width: inherit;
		margin: 0 auto;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		transition: filter 1s;
		&.hover{
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
		}
	}		
	.gray-container{
		display: block;
		width: 100%;
		height: 100%;

		border: solid 1px transparent;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		text-decoration: none;
		&:hover{
			
			text-decoration: none;

		}				
		.text-body{
			position: relative;
			z-index: 3;
			color: $white;
			padding-left: 10%;
			padding-right: 20%;
			margin-top: 220px;

			text-shadow: 0px 0px 4px $text-black;

			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;		
			&.rise{
				margin-top: 10%;
				color: $white; 
				.number{
					color: $white;
				}
				.little-title{
					color: $white;
				}
				.kw{
					color: $white;
				}
			}								
			.number{
				color: $white;
				font-size: 22px;
				font-weight: 300;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;	
			}
			.little-title{
				color: $white;
				font-weight: bold;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;	
				@include media-breakpoint-up(sm) {
					font-size: 1.2vw;
				}
				@include media-breakpoint-down(sm) {
					font-size: 14px;
				}
			}
			.kw{
				color: $white;
				font-weight: 800;
				line-height: 1.2;
				white-space: nowrap;
				-webkit-transition: all 1s;
				-moz-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;	
				@include media-breakpoint-between(lg,xl) {
					font-size: 60px;
				}
				@include media-breakpoint-between(md,lg) {
					font-size: 50px;
				}
				@include media-breakpoint-between(sm,md) {
					font-size: 46px;
				}
				@include media-breakpoint-down(xs) {
					font-size: 12vw;
				}


			}
		}
	}
}
.oferta-short{
	width: auto;
	margin-bottom: 15px;
	font-weight: 900;
	cursor: pointer;
	@include media-breakpoint-between(lg,xl) {
		font-size: 18px;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 18px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;
		@include make-col-ready();
		@include make-col(6);
	}	
}
.oferta-short-title{
	span{
		font-size: inherit;
		background-color: $red-impact;
		color: $white;
		font-weight: inherit;
		padding: 3px;
		border-radius: 3px;
	}
}
.oferta-price-tag{
	span{
		font-size: inherit;
		color: $text-black;
		font-weight: inherit;

	}
}	
.kit-group-body-banner{
	@include media-breakpoint-between(lg,xl) {
		width: 50%;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}


.oferta-single-row{

}
.oferta-header{

}
.oferta-category-kit-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
}
.oferta-description-container{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(8);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(8);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
		margin-top: 25px;
	}	
}
.oferta-gallery-container{
	@include make-col-ready();	
	@include make-col(12);	
}
.oferta-gallery{
	@include make-row();
}
.oferta-gallery-img{
	@include make-col-ready();
	@include media-breakpoint-between(lg,xl) {
		@include make-col(4);
	}
	@include media-breakpoint-between(md,lg) {
		@include make-col(4);
	}
	@include media-breakpoint-down(sm) {
		@include make-col(6);  
	}
	padding-top: 10px;
	a{
		display: block;
		height: 200px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}	
}

.ofertas-index-container{
	@include make-container();
	@include media-breakpoint-between(lg,xl) {
		display: none;
	}
	@include media-breakpoint-between(sm,lg) {
		display: none;
	}
	@include media-breakpoint-down(xs) {
		display: block;
	}
}
.ofertas-index-header-line{
	display: block;
	width: 75vw;
	height: 2px;
	background-color: $text-black;
	border-radius: 2px;
	margin: 0 auto;
}
.ofertas-index-header{
	@include make-row();
	background-color: $vincent-blue;
	max-height: 100px;
	color: #fff;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 7px;
	margin-bottom: 1px;
	svg{
		width: 100%;
	}
}


.oferta-index-category-kit-img{
	@extend .flex-container;
	width: 100%;
	img{
		width: 100%;
		height: auto;
	}
	.center-img{
		height: auto;
		width: 64vw;

	}
}
.oferta-index-single-row{
	@include make-row();
	background-position: contain;
	background-repeat: no-repeat;
	background-size: cover;	
}
.oferta-index-title{
	@extend .mx-auto;
	display: block;
    font-weight: bold;
    text-align: left;
    min-width: 70%;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.0;
    padding-top: 10px;
    span{
    	text-align: left;
    	color: $vincent-orange;
    	font-size: 40px;
    }
}
.oferta-index-single-row{
}


.oferta-index-price-header{
	width: 100%;
    padding: 0 19px;
    line-height: 0.8;
	text-align: right;
	font-size: 14.5vw;
	font-weight: 900;
	color: $vincent-orange;
	padding-right: 9vw;
	&:before{
		content: "$";
		color: $vincent-blue;
	    font-size: 10vw;
	    font-weight: 900;
	    margin-left: -6vw;
	    margin-top: 0;
	    position: absolute;
	}
}
.oferta-index-description-container{
	width: 100%;

}
.oferta-index-bullets{
	font-family: 'Azo Sans';
	color: $text-grayer;
	width: 100%;
	font-weight: 500;
	@include media-breakpoint-between(lg,xl) {
		margin-top:0 * $oferta-wide-scale-lg;
		font-size:1.7vw  * $oferta-wide-scale-lg;
		padding-bottom:3vw * $oferta-wide-scale-lg;		
	}
	@include media-breakpoint-between(md,lg) {
		margin-top:0 * $oferta-wide-scale-md;
		font-size:1.7vw  * $oferta-wide-scale-md;
		padding-bottom:3vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		margin-top:0 * $oferta-wide-scale-sm;
		font-size:1.7vw  * $oferta-wide-scale-sm;
		padding-bottom:3vw * $oferta-wide-scale-sm;
	}	
    @include media-breakpoint-down(xs) {
		font-size:3.5vw ;
	    padding: 2vw 0 2vw 18vw  ;
	    letter-spacing: -1.5px;
    }
	.bullet{
	    font-size: inherit;
		color: inherit;
		white-space: nowrap;
		line-height: 1.2;
		.bullet-image{
			height: 20px ;
			display: inline-block;
			width: 24px ;
			@include media-breakpoint-down(xs) {
				width: 20px ;
			}
		}
	}
}

.popup-close-button{
	position: absolute;
	right: 0;
}
#modalOferta > .modal-dialog{
	margin: 6.75rem auto;
}

.swiper-ofertas{
	height: 50vw;
	min-height: 400px;
	.swiper-pagination{
		top: 4vw;
		height: 2vw;
	}
}

h2.titulo-oferta{
	color: $text-grayer ;
	font-weight: 500;
	span{
		color: inherit;
		text-transform: lowercase;
	}
	@include media-breakpoint-between(lg,xl) {
		font-size: 3.7vw  * $oferta-wide-scale-lg;
		letter-spacing: -2px * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 3.7vw  * $oferta-wide-scale-md;
		letter-spacing: -2px * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 3.7vw * $oferta-wide-scale-sm;
		letter-spacing: -2px * $oferta-wide-scale-sm;
	}		
	@include media-breakpoint-down(xs) {
		font-family: 'Azo Sans';
		text-align: center;
		padding:0 20px;
		font-size: 7vw ;
		font-weight: 700;
		margin-top:20px;
		letter-spacing: -1.75px;
	}	

}

.single-oferta-container-padding{
	display: block;
	margin: 0 auto;
	@include media-breakpoint-between(lg,xl) {
		width: 100% * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		width: 100% * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		width: 100% * $oferta-wide-scale-sm;
	}	
}
.single-oferta-container{
	display: block;
	@extend .container-fluid;
	margin-top: 100px;
	font-family: "Azo Sans";
	height: auto;
	cursor: default;
	padding: 3vw ;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.col-fotos{
		@include make-col-ready();
		@include make-col(4);
		.col-fotos-kit{
			z-index: 1;
			position:relative;
			@include make-col(12);
			.kit-img{	
				padding: 0 0vw ;
			}

		}
	}
	.col-precio{
		@include make-col(8);
		@include media-breakpoint-between(lg,xl) {
			padding-left:4vw  * $oferta-wide-scale-lg !important;
		}
		@include media-breakpoint-between(md,lg) {
			padding-left:4vw  * $oferta-wide-scale-md !important;
		}
		@include media-breakpoint-between(sm,md) {
			padding-left:4vw  * $oferta-wide-scale-sm !important;
		}
	}
	@include media-breakpoint-down(xs) {

	}	
}

.ofertas-wide{
	padding: 0 !important;
	@include media-breakpoint-up(xs) {
		display: block;
	}
	@include media-breakpoint-down(xs) {
		display: none;
	}	
}

.oferta-wide-pricetag{
	font-family: 'Azo Sans';
	color: $red-impact;
	font-weight: 700;
	white-space: nowrap;
	width: 100%;
	text-align: left;
	@include media-breakpoint-between(lg,xl) {
		font-size: 3.5vw * $oferta-wide-scale-lg;
		line-height: 1.5;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 3.5vw  * $oferta-wide-scale-md;
		line-height: 1.5;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 3.5vw * $oferta-wide-scale-sm;
		line-height: 1.5;
	}
	@include media-breakpoint-down(xs) {
		font-size: 9vw ;
		padding-left:5vw;
		font-weight: 700;
		letter-spacing: -2px;
	}		

	&:before{
		content: "$";
		color: inherit;

		@include media-breakpoint-between(lg,xl) {
			font-size: 2vw * $oferta-wide-scale-lg ;
		    margin-left: -1.3vw * $oferta-wide-scale-lg ;
			margin-top: 1vw * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 2vw * $oferta-wide-scale-md ;
		    margin-left: -1.3vw * $oferta-wide-scale-md ;
			margin-top: 1vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 2vw * $oferta-wide-scale-sm ;
		    margin-left: -1.3vw * $oferta-wide-scale-sm ;
			margin-top: 1vw * $oferta-wide-scale-sm ;
		}		
		@include media-breakpoint-down(xs) {
			font-size: 5.14vw ;
		    margin-left: -5.3vw ;
			margin-top: 3vw ;
		}		
	    font-weight: inherit;
	    position: absolute;
	}
	&:after{
		display: none;
		content: "(Precio con IVA incluido)";
		color: inherit;
		@include media-breakpoint-between(lg,xl) {
			font-size: 1vw * $oferta-wide-scale-lg ;
		    margin-left: -13.4vw * $oferta-wide-scale-lg ;
			margin-top: 4vw * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			font-size: 1vw * $oferta-wide-scale-md ;
		    margin-left: -13.4vw * $oferta-wide-scale-md ;
			margin-top: 4vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			font-size: 1vw * $oferta-wide-scale-sm ;
		    margin-left: -13.4vw * $oferta-wide-scale-sm ;
			margin-top: 4vw * $oferta-wide-scale-sm ;
		}			

		@include media-breakpoint-down(xs) {
			font-size: 2.57vw ;
		    margin-left: -30.4vw ;
		    margin-top: 11vw ;
		}		
	    position: absolute;
	}
}
.valor-oferta{
	width: 100%;
	@include media-breakpoint-between(lg,xl) {
		font-size: 2vw * $oferta-wide-scale-lg ;
		margin-top: 2vw * $oferta-wide-scale-lg;
		margin-bottom: -1vw * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 2vw * $oferta-wide-scale-md ;
		margin-top: 2vw * $oferta-wide-scale-md;
		margin-bottom: -1vw  * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 2vw * $oferta-wide-scale-sm ;
		margin-top: 2vw * $oferta-wide-scale-sm;
		margin-bottom: -1vw * $oferta-wide-scale-sm;
	}		
	@include media-breakpoint-down(xs) {
		display: none;
		font-size: 4.14vw ;
		font-weight: 500;
		line-height: 0;
		margin-top: 2vw ;
		margin-bottom: -1vw ;
	}
	font-weight: 500;
	color: $red-impact;
}


.footer-ofertas-container{
	@extend .container-fluid;
	background-color: $dark-bg;

}
.footer-ofertas-swiper{
	padding: 0 $grid-gutter-width/2;
	.descripcion-oferta{
		min-height: 200px;
	}
}
.oferta-wide-footer{
	display: block;
	width: 100%;
	.proud-to-be{
		height: auto;
		margin: 0 auto;
		@include media-breakpoint-between(lg,xl) {
			width: 5vw * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			width: 5vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			width: 5vw * $oferta-wide-scale-sm ;
		}			
		@include media-breakpoint-down(xs) {
			width: 20vw;
			padding-top: 16vw;
		    padding-bottom: 5px;
		}
	}
	.cgreen-logo{
		position:absolute;
		@include media-breakpoint-between(lg,xl) {
			width: 6vw * $oferta-wide-scale-lg ;
			left: 1vw * $oferta-wide-scale-lg ;
			top: 30vw * $oferta-wide-scale-lg ;
		}
		@include media-breakpoint-between(md,lg) {
			width: 6vw * $oferta-wide-scale-md ;
			left: 1vw * $oferta-wide-scale-md ;
			top: 30vw * $oferta-wide-scale-md ;
		}
		@include media-breakpoint-between(sm,md) {
			width: 6vw * $oferta-wide-scale-sm ;
			left: 1vw * $oferta-wide-scale-sm ;
			top: 30vw * $oferta-wide-scale-sm ;
		}		
	}
}
.visita-tecnica{
	position:relative;
	height: 0;
	margin-left: auto;
	overflow: visible;
	@include media-breakpoint-between(lg,xl) {
		top: -10.42vw * $oferta-wide-scale-lg;		
		margin-right: -4.28vw * $oferta-wide-scale-lg;
		width: 15vw * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		top: -11.125vw * $oferta-wide-scale-md;		
		margin-right: -3.75vw * $oferta-wide-scale-md;
		width: 15vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		top: -13.5vw * $oferta-wide-scale-sm;		
		margin-right: -3vw * $oferta-wide-scale-sm;
		width: 15vw * $oferta-wide-scale-sm;
	}
	@include media-breakpoint-down(xs) {
		top:-30vw;
		width: 30vw;
		margin-right: 0;
	}

}
.oferta-price-mov-container{
	display: block;
	width: 100%;
	padding:0 0 0 17vw;
}
.oferta-mov-header{
	width: 100%;

}
.superoferta-wrapper{
	height: 0;
	overflow: visible;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: 5;
	@include media-breakpoint-between(lg,xl) {
	    width: 37%;
		img{
			margin-left: 20vw  * $oferta-wide-scale-lg;
		}
	}
	@include media-breakpoint-between(md,lg) {
	    width: 37%;
		img{
			margin-left: 20vw  * $oferta-wide-scale-md;
		}
	}
	@include media-breakpoint-between(sm,md) {
	    width: 37%;
		img{
			margin-left: 20vw  * $oferta-wide-scale-sm;
		}
	}	
	@include media-breakpoint-down(xs) {
	    width: 27%;
		img{
			margin-left: 50vw ;
		}
	}	
}
.instalacion-red-tag{
	background-color: $red-impact;
	color: $white;
    font-weight: 600;
    white-space: nowrap;
	text-transform: uppercase;
    display: inline;
    line-height: 0;

	@include media-breakpoint-between(lg,xl) {
		font-size: 1vw * $oferta-wide-scale-lg;
	    padding: 0.3vw * $oferta-wide-scale-lg;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: 1vw * $oferta-wide-scale-md;
	    padding: 0.3vw * $oferta-wide-scale-md;
	}
	@include media-breakpoint-between(sm,md) {
		font-size: 1vw * $oferta-wide-scale-sm;
	    padding: 0.3vw * $oferta-wide-scale-sm;
	}
	@include media-breakpoint-down(xs) {
	    font-size: 3vw;
	    padding: 1vw; 
	}	    
}