$fa-font-path: "../fonts";

$header-height : 100px ;

$header-top-margin: 16px;

$section-padding-top:20px ;
$section-padding-bottom:20px ;

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 900px,
  lg: 1400px,
  xl: 1700px
) ;

$container-max-widths: (
  sm: 540px,
  md: 1000px,
  lg: 1100px,
  xl: 1400px
);

// Body
$body-bg: #fff;
$dark-bg: #c80606;
$dark-bg-high: #ff0000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

$text-gray: #222 ;

// Colors
$vincent-blue: #262262;
$vincent-orange: #e94e1b;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #ff0c04;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $vincent-orange;
$secondary:     #495057;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;