$fa-font-path: "../fonts";

$header-height : 100px ;

$header-top-margin: 16px;

$max-width: 1920px;
// Body
$body-bg: #fff;
$dark-bg: #aaa;
$dark-bg-high: #f9f9f9;
$gray-overlay: rgba(0,0,0,0.5);
$white-overlay: rgba(255,255,255,0.3);

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #262262;
$vincent-blue-alpha: #26226244;
$vincent-orange: #e94e1b;
$text-black: #222;
$text-white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text-light-gray: #ddd;
$primary: $vincent-blue;
$secondary: $vincent-orange;

$section-padding-top:115px;
$section-padding-bottom:85px;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;