$fa-font-path: "../fonts";

$menu-height : 64px ;

$header-top-margin: 16px;

$hamburguer-scale:0.5;

$max-width: 1920px;
// Body
$body-bg: #fff;
$dark-bg: #aaa;
$dark-bg-high: #f9f9f9;
$gray-overlay: rgba(0,0,0,0.5);
$white-overlay: rgba(255,255,255,0.3);

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #00368a;
$vincent-blue-alpha: #00368a44;
$vincent-orange: #ec850e;//#d48424;//#e94e1b;//#dd6722;
$text-white: #fff;
$text-light-gray: #ddd;
$text-gray: #666;
$text-black: #222;

$baby-blue-text:#6b7c93;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$red-impact: red;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #9fc66b;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $vincent-blue;
$secondary: $vincent-orange;

$section-padding-top:115px;
$section-padding-bottom:85px;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 1200px,
  xl: 1500px
) ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 800px,
  lg: 1000px,
  xl: 1200px
) ;

$menu-li-height: 80px;