$fa-font-path: "../fonts";

$menu-height : 64px ;

$header-top-margin: 16px;

$hamburguer-scale:0.5;

$max-width: 1920px;
// Body
$body-bg: #fff;
$dark-bg: #e3e3e3;
$dark-bg-high: #f9f9f9;
$gray-overlay: rgba(0,0,0,0.5);
$white-overlay: rgba(255,255,255,0.9);

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #000;//#00368a;
$vincent-blue-alpha: #00000044;
$vincent-orange: #ff8000;//#ec850e;//#d48424;//#e94e1b;//#dd6722;
$text-white: #fff;
$text-light-gray: #ddd;
$text-gray: #646464;
$text-black: #222;

$baby-blue-text:#6b7c93;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #c80000;
$red-impact: #ea0001;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #139a00;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $vincent-blue;
$secondary: $vincent-orange;

$section-padding-top:115px;
$section-padding-bottom:85px;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 1200px,
  xl: 1500px
) ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 800px,
  lg: 1000px,
  xl: 1200px
) ;

$menu-li-height: 80px;

$svg-arrow-next: "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff8000aa'%2F%3E%3C%2Fsvg%3E";
$svg-arrow-prev: "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff8000aa'%2F%3E%3C%2Fsvg%3E";