$fa-font-path: "../fonts";

$menu-height : 64px ;

$header-top-margin: 16px;

$hamburguer-scale:0.5;

$max-width: none;
// Body
$body-bg: #fff;
$dark-bg: #f3f3f3;
$dark-bg-high: #f9f9f9;
$gray-overlay: rgba(0,0,0,0.5);
$white-overlay-strong: rgba(255,255,255,0.9);
$white-overlay: rgba(255,255,255,0.2);

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$vincent-blue: #000;//#00368a;
$vincent-blue-alpha: #00000044;
$vincent-orange: #ff8000;//#ec850e;//#d48424;//#e94e1b;//#dd6722;
$text-white: #fff;
$text-light-gray: #ddd;
$text-gray: #646464;
$text-black: #222;

$baby-blue-text:#6b7c93;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #c80000;
$red-impact: #ea0001;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #139a00;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $vincent-blue;
$secondary: $vincent-orange;

$section-padding-top:115px;
$section-padding-bottom:85px;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;

$modal-xl:                          1140px;
$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 1200px,
  xl: 1500px
) ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 800px,
  lg: 1000px,
  xl: 1200px
) ;

$menu-li-height: 80px;

$svg-arrow-next: "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff8000aa'%2F%3E%3C%2Fsvg%3E";
$svg-arrow-prev: "data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff8000aa'%2F%3E%3C%2Fsvg%3E";

$svg-ongrid: "data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' id='Capa_1' data-name='Capa 1' viewBox='0 0 228.1 106.06' version='1.1' sodipodi:docname='ongrid.svg' inkscape:version='0.92.3 (2405546, 2018-03-11)'%3E%3Cmetadata id='metadata35'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3Eenchufe%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs4'%3E%3Cstyle id='style2'%3E.cls-1%7Bfill:%23c10000;%7D.cls-2%7Bfill:%23139900;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-2' x='-30.326084' y='69.586197' width='29.4' height='7.9699998' transform='rotate(-34.84)' id='rect22' style='fill:%23139900' /%3E%3Cpath class='cls-2' d='m 75.504738,58.633703 -22.27,-30.43 -14.59,10.69 a 19,19 0 0 0 10,35 18.6,18.6 0 0 0 11.86,-4.26 z' id='path24' inkscape:connector-curvature='0' style='fill:%23139900' /%3E%3Crect class='cls-2' x='18.388851' y='58.482239' width='25.790001' height='6.9000001' rx='3.45' transform='rotate(-36.06)' id='rect26' style='fill:%23139900' /%3E%3Crect class='cls-2' x='18.319958' y='80.261978' width='25.790001' height='6.9000001' rx='3.45' transform='rotate(-36.06)' id='rect28' style='fill:%23139900' /%3E%3Cpath class='cls-2' d='M 52.534738,103.9037 A 50.5,50.5 0 1 1 103.03474,53.403703 50.55,50.55 0 0 1 52.534738,103.9037 Z m 0,-93.309997 a 42.81,42.81 0 1 0 42.81,42.81 42.87,42.87 0 0 0 -42.81,-42.77 z' id='path30' inkscape:connector-curvature='0' style='fill:%23139900' /%3E%3C/svg%3E";
$svg-offgrid: "data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' id='Capa_1' data-name='Capa 1' viewBox='0 0 228.1 106.06' version='1.1' sodipodi:docname='offgrid.svg' inkscape:version='0.92.3 (2405546, 2018-03-11)'%3E%3Cmetadata id='metadata35'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3Eenchufe%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1280' inkscape:window-height='716' id='namedview33' showgrid='false' inkscape:zoom='3.4633932' inkscape:cx='114.05' inkscape:cy='53.029999' inkscape:window-x='0' inkscape:window-y='28' inkscape:window-maximized='1' inkscape:current-layer='Capa_1' /%3E%3Cdefs id='defs4'%3E%3Cstyle id='style2'%3E.cls-1%7Bfill:%23c10000;%7D.cls-2%7Bfill:%23139900;%7D%3C/style%3E%3C/defs%3E%3Ctitle id='title6'%3Eenchufe%3C/title%3E%3Crect class='cls-1' x='-29.741259' y='69.699455' width='29.440001' height='7.98' transform='rotate(-34.84)' id='rect8' style='fill:%23c10000' /%3E%3Crect class='cls-1' x='19.191652' y='58.697727' width='25.874165' height='6.9244957' rx='3.4672585' transform='rotate(-36.06941)' id='rect10' style='fill:%23c10000;stroke-width:1.00209785' /%3E%3Cpolygon class='cls-1' points='73.54,55.77 51.26,25.33 42.2,31.96 69.19,58.96 ' id='polygon12' transform='translate(2.5875571,2.5875571)' style='fill:%23c10000' /%3E%3Cpath class='cls-1' d='m 32.897557,45.267557 a 19,19 0 0 0 16.31,28.38 18.59,18.59 0 0 0 9.48,-2.59 z' id='path14' inkscape:connector-curvature='0' style='fill:%23c10000' /%3E%3Crect class='cls-1' x='26.509058' y='-4.8456082' width='96.150002' height='10.29' transform='rotate(45)' id='rect16' style='fill:%23c10000' /%3E%3Cpath class='cls-1' d='m 68.737557,58.707557 a 3.44,3.44 0 0 0 1.33,-0.59 l 15.28,-11.13 a 3.4654365,3.4654365 0 1 0 -4.07,-5.61 l -15.28,11.16 a 3.43,3.43 0 0 0 -1.31,2.08 z' id='path18' inkscape:connector-curvature='0' style='fill:%23c10000' /%3E%3Cpath class='cls-1' d='M 53.137557,103.68756 A 50.55,50.55 0 1 1 103.68756,53.137557 50.6,50.6 0 0 1 53.137557,103.68756 Z m 0,-93.400003 a 42.85,42.85 0 1 0 42.85,42.85 42.9,42.9 0 0 0 -42.85,-42.85 z' id='path20' inkscape:connector-curvature='0' style='fill:%23c10000' /%3E%3C/svg%3E%0A" ;