// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900i');
// Variables
@import 'variables';

/*
@font-face {
    font-family: 'Pragmatica Condensed';
    src: url($fa-font-path+'/Pragmatica Condensed Condensed.ttf') format('truetype');
}
*/

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	font-family: $font-family-sans-serif;
}
section {
    @include make-row();
}

h1{
	font-weight: 900;
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*2.4;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.45;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.4;	        
	}
}

h2{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.8;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.7;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.6;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}
p{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.15;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base;	        
	}
}

:target {
  display: block;
  position: relative;
  top: -$header-height; 
  visibility: hidden;
}

header{
	padding: 30px 40px;
	position: absolute;
	z-index: $zindex-fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	z-index: 9999;
	.flex-container{
		.logo{
			max-width: 190px !important;
			img{
				width: 100%;
				height: auto;
			}
		}
		nav{
			ul{
				margin-bottom: 0;
				li{
					display: inline;
					a{
						font-size: 12px;
						color: $white;
						text-transform: uppercase;
						text-decoration: none;
						margin: 0 0.4vw;
						font-weight: bold;						
						&:hover{
							color: $white;
						}
					}
				}
			}
		}
		.secondary-nav{
			ul{
				margin-bottom: 0;
				li{
					display: inline;
					a{
						color: $white;
						&:hover{
							color: $white;
						}
					}
				}
			}			
		}
	}
}
.flex-container{
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center; 
	-webkit-align-items: center; 
	-moz-box-align: center; 
	-ms-flex-align: center; 
	align-items: center; 
	-webkit-box-pack: center; 
	-webkit-justify-content: center; 
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;
}
.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.swiper-button-prev{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff22'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff22'%2F%3E%3C%2Fsvg%3E");
}
//pretty horizontal bar
.bar{
	display: block;
	background-color: $vincent-blue;
	height: 5px;
	width: 25px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 20px;
}
.site-cover{
	width: 100vw;
	height: 95vh;
	min-height: 600px;
	z-index: 0;
	background-image: url('https://via.placeholder.com/1920x800');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    .swiper-container {
      width: 100%;
      height: 100%;
      background-color: $gray-overlay;
    }
    .swiper-slide {
      border-right: solid 1px $white-overlay;
      text-align: center;
      font-size: 18px;
      background: none;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }	
    .cover-slide{
    	@extend .px-3;
    	margin-bottom: 10px;
    	margin-top: auto;
		text-align: left;

    	h1{
			font-weight: 900;
			line-height: 1.1;
			margin-bottom: 15px;
    		color: $white;
    	}

    	.hidden-desc{
			height: 0px;
			transition:height 0.5s; 
			overflow: hidden;
    		-webkit-transition:height 0.5s; 
    		.grow{
				height: 190px;			
			    transition:height 0.5s; 
    			-webkit-transition:height 0.5s; 

			}
			a{
				@extend .btn;
				@extend .btn-secondary;
				text-decoration: none;
				font-weight: bold;
				color: white;
				&:hover{
					color: white;
					text-decoration: none;
				}
			}
			p{
				line-height: 0.95;
				color: $text-light-gray;
			}
    	}
    }
}
#porque-elegirnos{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1{
		font-size: 48px;

	}
	p{
		font-size: 22px;
		line-height: 1.5;
		color: #6b7c93;
	}
	.card{
		@extend .my-2;
		@include media-breakpoint-between(lg,xl) {
			height: 240px ;
		}
		@include media-breakpoint-between(md,lg) {
			min-height: 250px ;
		}
		@include media-breakpoint-down(sm) {
			height:auto;	        
		}
		-webkit-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		-moz-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		border-color: transparent;		

		.card-body{
			color: $text-black;
			img{
				@extend .mx-auto;
				display: block;
			}
			h3{
				font-weight: bold;
				text-align: center;
				color: inherit;
			}
			p{
				line-height: 1.3;
				text-align: center;
				font-size: 15px;
				color: inherit;
			}

		}
	}
}
#gmap{
	overflow: hidden;
	iframe{
		margin-top: -50px;
		margin-bottom: -20px;
		margin-right: -4px;
		margin-left: -4px;
	}
}
#how-we-work{
	padding-top: $section-padding-top/2;
	padding-bottom: $section-padding-bottom;
	h1{
		font-size: 48px;
		text-align: center;
	}
	p{
		font-size: 22px;
		text-align: center;
		line-height: 1.5;
		color: #6b7c93;
	}
	.cloud-container{
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	    .swiper-container {
	      width: 100vw;
	      height: 100%;
	      background-color: transparent;
	      overflow-y: visible;
	      overflow-x: hidden;
	      	.swiper-pagination{
				@include media-breakpoint-down(sm) {
					top: 0;
				}
				@include media-breakpoint-up(sm) {
					bottom: 0;
				}
	      	}
			.swiper-pagination-bullet {
			  width: 20px;
			  height: 20px;
			  text-align: center;
			  line-height: 20px;
			  font-size: 12px;
			  color:#000;
			  opacity: 1;
			  background: rgba(0,0,0,0.2);
			}
			.swiper-pagination-bullet-active {
			  color:#fff;
			  background: $vincent-blue;
			}
			.swiper-button-next ,.swiper-button-prev{
				@include media-breakpoint-down(sm) {
					display: none;
				}
				@include media-breakpoint-up(sm) {
					display: block;
				}
			}
		    .swiper-slide {

		    	text-align: center;
		    	/* Center slide text vertically */
		    	display: -webkit-box;
		    	display: -ms-flexbox;
		    	display: -webkit-flex;
		    	display: flex;
		    	-webkit-box-pack: center;
		    	-ms-flex-pack: center;
		    	-webkit-justify-content: center;
		    	justify-content: center;
		    	-webkit-box-align: center;
		    	-ms-flex-align: center;
		    	-webkit-align-items: center;
		    	align-items: center;
			    .how-we-work-slide{
			    	padding-top: 1rem;
			    	display: -webkit-box;
			    	display: -ms-flexbox;
			    	display: -webkit-flex;
			    	display: flex;
			    	-webkit-box-pack: center;
			    	-ms-flex-pack: center;
			    	-webkit-justify-content: center;
			    	justify-content: center;
			    	-webkit-box-align: center;
			    	-ms-flex-align: center;
			    	-webkit-align-items: center;
			    	align-items: center;			    	
			    	@include make-row();
					@include media-breakpoint-down(sm) {
						padding-left: 20px;   
						padding-right: 20px; 	
					}

			    	.img-container{
			    		@include make-col-ready();
						@include media-breakpoint-between(lg,xl) {
							@include make-col(4);
							@include make-col-offset(1);
						}
						@include media-breakpoint-between(md,lg) {
							@include make-col(6);
						}
						@include media-breakpoint-down(sm) {
							@include make-col(12);  
		  
						}
						.img-wrapper{
				    		padding: 20px;
					    	img{
					    		display: block;
					    		width: 100%;
					    		height: auto;
					    		border-radius: 50%;
					    		border-style: solid;
					    		border-width: 15px;
					    		border-color: $vincent-blue-alpha;
					    	}

						}	    		
			    	}
			    	.text-container{
			    		@include make-col-ready();
						@include media-breakpoint-between(lg,xl) {
							@include make-col(6);
						}
						@include media-breakpoint-between(md,lg) {
							@include make-col(6);
						}
						@include media-breakpoint-down(sm) {
							@include make-col(12);     
						}	  
						.bar-container{
							width: 100%;
							text-align: left;
							display: block;
							.bar{
								text-align: left;
								display: inline-block; 
								margin-bottom: 5px;
								margin-right: 4px;
							}
							.bar-number{
								display: inline-block;
								text-align: left;
								font-weight: bold;
								font-size: 20px;
							}
						}  		
				    	h1{
				    		text-align: left;
				    	}
				    	p{
				    		text-align: left;
				    	}
			    	}
			    }	
		    }	
	    }
	}
}

#generacion{
	padding-top: $section-padding-top/2;
	padding-bottom: $section-padding-bottom;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1{
		font-size: 48px;
		text-align: center;
	}
	p{
		font-size: 22px;
		text-align: center;
		line-height: 1.5;
		color: #6b7c93;
	}
}