// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// Variables
@import 'variables';

/*
@font-face {
    font-family: 'Pragmatica Condensed';
    src: url($fa-font-path+'/Pragmatica Condensed Condensed.ttf') format('truetype');
}
*/

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 



body{
	font-family: $font-family-sans-serif;
}
section {
    @include make-row();
}
.container-fluid{
	max-width: $max-width;
}
.img-fluid{
	width: 100% !important; 
	max-width: none !important;
}
.wp-block-image{
	@extend .img-fluid;
	img{
		@extend .img-fluid;
	}
}
a{
	-moz-outline-style: none !important;
	outline: none !important;
	text-decoration: none !important;
	&:active, :focus{
		-moz-outline-style: none !important;
		outline: none !important;
		text-decoration: none !important;

	}
}
h1{
	font-weight: 600;
	color: $text-gray;
	@include media-breakpoint-up(sm) {
		font-size: 3vw;
		&.shrink-cover{
			font-size: 2.1vw;
		}		
		&.shrink{
			font-size: 42px;
		}		
	}
	@include media-breakpoint-down(sm) {
		font-size: 38px;
		&.shrink-cover{
			font-size: 8vw;
		}			
    	&.shrink{
			font-size: 34px;
    		line-height: 1.2;
		}
	}
}

h2{
	font-weight: 700;
	@include media-breakpoint-between(md,xl) {
		font-size: 1.8vw;
	}
	@include media-breakpoint-down(sm) {
		font-size: 22px;
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.7;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: 16px;	        
	}
}
h3{
	color: $text-gray;
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.6;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.3;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.25;	        
	}
}
p{
	font-weight: 400;
	@include media-breakpoint-up(sm) {
		font-size: $font-size-base*1.7;
		&.highlight{
			font-size: 1.6vw;
		}		
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.2;	   
		&.highlight{
			font-size: 22px;
		}		     
	}
	color: $text-gray;
	&.highlight{
		line-height: 1.5;
	}
}

:target {
  display: block;
  position: relative;
  top: -$menu-height; 
  visibility: hidden;
}


.blog-container-width{
	@extend .container;
	@include media-breakpoint-up(sm) {
		width: 870px;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;	        
	}	
	&.wide{
		@include media-breakpoint-up(sm) {
			width: 1000px;
		}	
	}
}

.video-container{
	overflow: hidden;
	position: relative;
	@include media-breakpoint-between(lg,xl) {
		display: block;
		height: 50vw;
	}
	@include media-breakpoint-between(md,lg) {
		display: block;
		height: 50vw;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
		

	.fullvideo-cover{
		@extend .gray-overlay;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		position: absolute;
		//background-color: $gray-overlay;
		z-index: $zindex-sticky;		
	}
	iframe{
		@include media-breakpoint-between(lg,xl) {
			width: 106%;
			height: 100vw;
			position: absolute;
			top:-26vw;
			left: -3%;
		}
		@include media-breakpoint-between(md,lg) {
			width: 106%;
			height: 100vw;
			position: absolute;
			top:-26vw;
			left: -3%;	

		}		
		@include media-breakpoint-up(sm) { 
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
		z-index: $zindex-sticky - 10;
		visibility: inherit; 
		opacity: 1; 
		position: absolute; 
		left: 0px; 
		margin-right: -1%;
		margin-left: -1%;


	}
	video{
		position: absolute;
		height: 100%;
		width: 100%;
	    min-width: 100%;
	    z-index: -100;		
	}
}

.blog-container{
	@extend .blog-container-width;
	&.wide{
		@include media-breakpoint-up(sm) {
			width: 1000px;
		}	
	}
	section{
		padding-top: $section-padding-top / 2;
		padding-bottom: $section-padding-bottom;
	}
	h2{
		padding-top: $section-padding-top / 3;
		font-size: 28px;
		font-weight: 900;
		margin-bottom: 10px;
	}
	h3{
		font-size: 22px;
		color: $baby-blue-text;
		line-height: 30px;
		font-weight: 900;		
	}
	p{
		color: $text-black;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		text-align: justify;
	}
	ul{
		position: relative;
		list-style: none;
		margin-left: 2.0em;
		padding-left: 2.2em;		
	}
	li{
		color: $text-black;
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		&:before {
			color: $green ;
			content: "\2714";
			position: absolute;
			left: 0;
		}
	}
}
.flex-container{
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center; 
	-webkit-align-items: center; 
	-moz-box-align: center; 
	-ms-flex-align: center; 
	align-items: center; 
	-webkit-box-pack: center; 
	-webkit-justify-content: center; 
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;
}
.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:$white !important;
  opacity: 1;
  background-color: $text-gray !important;
}
.swiper-pagination-bullet-active {
  color:$text-gray !important;
  background-color: $vincent-orange !important;
}
.swiper-button-prev{
	background-image: url($svg-arrow-prev);
}
.swiper-button-next{
	background-image: url($svg-arrow-next);
}
//pretty horizontal bar
.bar{
	display: block;
	background-color: $vincent-blue;
	height: 5px;
	width: 25px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 20px;
}
.ft-label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
    line-height: 20px;
    font-family: pragmatica-condensed,sans-serif;
    color: $baby-blue-text;
}
.site-cover{
	@include media-breakpoint-up(sm) {
		height: 95vh;
		min-height: 600px;
	}
	@include media-breakpoint-down(sm) {
		height: 85vh;
	}
	width: 100%;
	min-height: 500px;
	z-index: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    .swiper-container {
		@include media-breakpoint-up(sm) {
	    	background-image:
				linear-gradient(to bottom, #00000077 0%, #00000000 25%,#00000000 60%, #000000cc 100%),
				url('') !important;
		}
		@include media-breakpoint-down(sm) {
			background-image:
				linear-gradient(to bottom, #00000000 0%,#00000000 30%, #000000cc 100%),
				url('') !important;
		}			
     	width: 100%;
    	height: 100%;
    }
    .swiper-slide {
      border-right: solid 1px $white-overlay;
      text-align: center;
      font-size: 18px;
      background: none;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }	
    .cover-slide{
		@include media-breakpoint-up(sm) {
    		margin-bottom: 10px;
    		padding: 0 1.5vw;
		}
		@include media-breakpoint-down(sm) {
	    	margin-bottom: 45px;
		}
    	margin-top: auto;
		text-align: left;

    	h1{
			font-weight: 900;
			line-height: 1.1;
			margin-bottom: 15px;
    		color: $white;
    	}

    	.hidden-desc{
			@include media-breakpoint-up(sm) {
				height: 0px;
			}
			@include media-breakpoint-down(sm) {
				height: auto !important;
			}
			overflow: hidden;
			transition:height 0.5s; 
    		-webkit-transition:height 0.5s; 
    		.grow{
				@include media-breakpoint-up(sm) {
					height: 180px;	
				}				
			    transition:height 0.5s; 
    			-webkit-transition:height 0.5s; 

			}
			a{
				@extend .btn;
				color: $white;
				border-radius: 3vw;
				text-transform: none;
				white-space: nowrap;
				background-color: $vincent-orange;
				text-decoration: none;
				font-weight: bold;
				
				@include media-breakpoint-between(lg,xl) {
					font-size: 1.3vw;
					padding: .5vw 1.7vw;
				}
				@include media-breakpoint-between(md,lg) {
					font-size: 1.5vw;
					padding: .5vw 1.7vw;
				}				
				@include media-breakpoint-down(sm) {
					padding: 8px 37px;
					font-size: 4vw;
					border-radius: 50px;
				}
				&:hover{
					color: $white;
					text-decoration: none;
				}
			}
			p{
				line-height: 1;
				color: $text-light-gray;
				@include media-breakpoint-up(sm) {
					height: 5vw;
					font-size: 1.3vw;
				}
				@include media-breakpoint-down(sm) {
					font-size: 18px;
	    			line-height: 1.2;
				}				
			}
    	}
    }
}

.gray-overlay{
	background-image:
		linear-gradient(to bottom, #00000077 0%, #00000000 25%,#00000000 75%, #00000044 100%),
		url('') !important;
}
.site-cover-secondary{
	width: 100vw;
	z-index: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	@include media-breakpoint-up(sm) {
		height: 500px;
	}
	@include media-breakpoint-down(sm) {
		height:400px;	        
	}
	.container{
		height: 100%;
		.row{
			height: 100%;
			.col{
				height: 100%;
				.text-wrapper{
					position: absolute;
					bottom: 0;
					color: white;
					margin-left: -6px;
					h2{
						font-size: 14px;
						@include media-breakpoint-up(sm) {
							display: inline;
						}
						@include media-breakpoint-down(sm) {
							display: none;        
						}					
					}
					a{
						color: inherit;
						text-decoration: underline;
					}

				}

			}
		}
	}
}
#porque-elegirnos{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1{

	}

	.card{
		@extend .my-2;
		@include media-breakpoint-between(lg,xl) {
			height: 240px ;
		}
		@include media-breakpoint-between(md,lg) {
			min-height: 250px ;
		}
		@include media-breakpoint-down(sm) {
			height:auto;	        
		}
		-webkit-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		-moz-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		border-color: transparent;		

		.card-body{
			color: $text-black;
			img{
				@extend .mx-auto;
				display: block;
			}
			h3{
				font-weight: 900;
				text-align: center;
				color: inherit;
			}
			p{
				line-height: 1.3;
				text-align: center;
				
				color: inherit;
			}

		}
	}
}

.swiper-pagination-bullet{
	background-color: $text-black;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: $vincent-orange;
}
.swiper-button-next ,.swiper-button-prev{
	@include media-breakpoint-down(sm) {
		display: none;
	}
	@include media-breakpoint-up(sm) {	
		display: block;
	}
}

#how-we-work{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	h1{
		text-align: center;
	}
	p{
		text-align: center;
		line-height: 1.5;
		color: $baby-blue-text;
	}
	.cloud-container{
		margin-top:-5vw;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
    .swiper-container {
      width: 100vw;
      min-height: 80vh;
      background-color: transparent;
      overflow-y: visible;
      overflow-x: hidden;
      	.swiper-pagination{
			@include media-breakpoint-down(sm) {
				top: 0;
			}
			@include media-breakpoint-up(sm) {
				bottom: 0;
			}
      	}

	    .swiper-slide {

	    	text-align: center;
	    	/* Center slide text vertically */
	    	display: -webkit-box;
	    	display: -ms-flexbox;
	    	display: -webkit-flex;
	    	display: flex;
	    	-webkit-box-pack: center;
	    	-ms-flex-pack: center;
	    	-webkit-justify-content: center;
	    	justify-content: center;
	    	-webkit-box-align: center;
	    	-ms-flex-align: center;
	    	-webkit-align-items: center;
	    	align-items: center;
	    	
		    .how-we-work-slide{
		    	padding-top: 1rem;
		    	display: -webkit-box;
		    	display: -ms-flexbox;
		    	display: -webkit-flex;
		    	display: flex;
		    	-webkit-box-pack: center;
		    	-ms-flex-pack: center;
		    	-webkit-justify-content: center;
		    	justify-content: center;
		    	-webkit-box-align: center;
		    	-ms-flex-align: center;
		    	-webkit-align-items: center;
		    	align-items: center;			    	
		    	@include make-row();	
				@include media-breakpoint-up(lg) {
					padding-left: 7% !important;   
					padding-right: 7% !important; 	
				}
				@include media-breakpoint-down(sm) {
					padding-left: 7% !important;   
					padding-right: 7% !important; 	
				}

		    	.img-container{
		    		@include make-col-ready();
					@include media-breakpoint-up(lg) {
						@include make-col(4);
					}
					@include media-breakpoint-between(md,lg) {
						@include make-col(4);
					}
					@include media-breakpoint-down(sm) {
						@include make-col(12);  
	  
					}
					.img-wrapper{
			    		padding: 20px;
			    		margin: 0 auto 0 auto ;
						@include media-breakpoint-down(sm) {
							max-width: 300px;
		  
						}				    		
				    	.bubble-img{
				    		display: block;
				    		width: 100%;
				    		height: auto;
				    		border-radius: 50%;
				    		border-style: solid;
				    		border-width: 15px;
				    		border-color: $vincent-blue-alpha;
				    	}
				    	.extra-bg{
				    		position: absolute;
				    		width: 10vw;
				    		height: auto;
				    		z-index: 0;
							left: 0;
							top: 70%;				    		
				    	}
					}	    		
		    	}
		    	.text-container{
					color: $text-gray;
		    		@include make-col-ready();
					@include media-breakpoint-up(lg) {
						@include make-col(7);
					}
					@include media-breakpoint-between(md,lg) {
						@include make-col(7);
					}
					@include media-breakpoint-down(sm) {
						@include make-col(12);     
					}	  
					.step-container{
						width: 100%;
						text-align: left;
						display: block;
						.bar-number{
							display: inline-block;
							text-align: left;
							font-weight: 400;
							font-size: 2vw;
						}
					}  		
			    	h1{
			    		text-align: left;
			    		@include media-breakpoint-down(sm) {
							font-size: 9vw;
						}	  
			    	}
			    	p{
			    		text-align: left;
			    		@include media-breakpoint-down(sm) {
							font-size: 5vw;
						}	 
			    	}
		    	}
		    }	
	    }	
    }
}

.gray-bg{
	background-color: $dark-bg-high;	
}



footer{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	color: $text-gray;
	@extend .container-fluid;

	.footer-cgreen-logo{
		padding-bottom: 55px;
	}
	.footer-cgreen-logo > img{
		@extend .mx-auto;
		@include media-breakpoint-up(sm) {
			width: 7vw;
			height: 7vw;

		}
		@include media-breakpoint-down(sm) {
			width: 30vw;
			height: 30vw;			
		}
	}
	.footer-address{
		@extend .flex-container;
		@extend .space-between;
		address{
			@include media-breakpoint-between(md,xl) {
				font-size: 1.2vw;	
				&:first-child{
					padding-left: 5%;
				}
				&:last-child{
					padding-right: 5%;
				}				
			}
			@include media-breakpoint-down(sm) {
				font-size: 5vw;
				width: 100%;
				padding: 0 20px;	
			}			
			i{
				display: inline-block;
				font-weight: bold;
			}
			.address-text{
				display: inline-grid;
				span{
					font-weight: bold;
				}
			}
			a{
				color: inherit;
			}

		}
	}
	.partners-container{
		@extend .container;
		padding-top: $section-padding-top / 2;
		@include media-breakpoint-down(sm) {
			padding-left: 30px;
			padding-right: 30px;
		}	
		h3{
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			@include media-breakpoint-up(sm) {
				font-size: 1vw;
			}
			@include media-breakpoint-down(sm) {
				font-size: 17px;
			}
		}
		.icon{
			@extend .mx-auto;
			height: auto;
			@include media-breakpoint-between(lg,xl) {
				max-width: 5vw;
			}
			@include media-breakpoint-between(md,lg) {
				max-width: 8vw;
			}
			@include media-breakpoint-down(sm) {
				max-width: 70px;
			}			
		}
	}
	
}


.servicio-block{
	@include make-col-ready();
	@include make-col(12);
	@extend .my-3;
}
.servicio-wrapper{
	@include make-row();
}
.servicio-image{
	@include make-col-ready();
	@include media-breakpoint-up(sm) {

		@include make-col(4);  
	}	
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
	.img-fluid{
		border-radius: 7px;

	}
}
.servicio-text{
	@include make-col-ready();
	@include media-breakpoint-up(sm) {
		@include make-col(8);  
	}	
	@include media-breakpoint-down(sm) {
		@include make-col(12);  
	}	
	h2{
		padding-top: 5px;
	}
}

.feat-prod{
	padding-top: $section-padding-top / 2;
	padding-bottom: $section-padding-bottom;
}


.products-swiper-container{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
}
.products-swiper{
	@include media-breakpoint-up(sm) {
		height: 28vw;
		.product-title{
			text-align: center;
			font-size: 1.2vw;
		}
	}
	@include media-breakpoint-down(sm) {
		height: auto;
		.product-title{
			text-align: center;
			font-size: 4vw;
			
		}
	}
}



.half-banner{
	margin-top: $section-padding-top;
	margin-bottom: $section-padding-bottom;
	min-height: 500px;
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.favicon{
		position: absolute;
		margin: 2vw;
		height: auto;
		width: 4vw;
		&.right{
			right: 0;
		}
	}

}
.half-banner-body{
	@include make-col-ready();
	@include make-col(6);
	&.right{
		@include make-col-offset(6);
	}
	
	padding: 30px 4vw !important; 
	background-color: $white-overlay-strong;

	h1{
		line-height: 1;
	}
	p{
		font-size: 1.8vw;
		line-height: 1.1;
		padding: 3vw 0;
	}

}
a.orange-with-arrow{
	display: inline-block;
	color: $vincent-orange;
	text-decoration: underline;
	@include media-breakpoint-up(sm) {
		font-size: 1.35vw;
		white-space: nowrap;
	}	
	@include media-breakpoint-down(sm) {
		font-size: 3.5vw;
	}
	&:after{
		content: url($svg-arrow-next);
		display: inline-block;
		@include media-breakpoint-up(sm) {
			width: .5vw;
		}
		@include media-breakpoint-down(sm) {
			width: 1.5vw;

		}
	}
}

section > h1.section-header{
	width: 100%;
	text-align: center;
	@include media-breakpoint-up(sm) {
		padding-bottom: 4vw;
	}
	@include media-breakpoint-down(sm) {
		padding-bottom: 20px;
	}
}

.product-highlight-container{
	padding-top: $section-padding-top;
	padding-bottom: $section-padding-bottom;
	.text-body{
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(5);
			@include make-col-offset(1);
			p{
				font-size: 1.65vw;	
			}
		}	
		@include media-breakpoint-down(sm) {
			@include make-col(12);
		}
	}
	.image-wrapper{
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}	
		@include media-breakpoint-down(sm) {
			@include make-col(12);
		}		

	}
}

@import 'generacion';
@import 'mapa';
@import 'noticias';
@import 'ofertas';
@import 'contacto';
@import 'preguntas';
@import 'videos';
@import 'menu';