// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
@import 'variables';

@font-face {
    font-family: 'Pragmatica Condensed';
    src: url($fa-font-path+'/pragmatica-condensed.ttf') format('truetype');
}

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	font-family: $font-family-sans-serif;
}
section {
    @include make-row();
}

h1{
	font-weight: 900;
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*2;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.5;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.2;	        
	}
}

h2{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.8;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.2;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.7;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.6;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}

:target {
  display: block;
  position: relative;
  top: -$header-height; 
  visibility: hidden;
}
