// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900i');
// Variables
@import 'variables';

/*
@font-face {
    font-family: 'Pragmatica Condensed';
    src: url($fa-font-path+'/Pragmatica Condensed Condensed.ttf') format('truetype');
}
*/

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce.scss"; 
//@import "../../plugins/woocommerce/assets/css/woocommerce-layout.scss"; 

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

//swiper
@import "../../node_modules/swiper/dist/css/swiper"; 

body{
	font-family: $font-family-sans-serif;
}
section {
    @include make-row();
}

h1{
	font-weight: 900;
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*2.4;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.45;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.4;	        
	}
}

h2{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.8;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.7;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}
h3{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.6;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base*1.05;	        
	}
}
p{
	@include media-breakpoint-between(lg,xl) {
		font-size: $font-size-base*1.15;
	}
	@include media-breakpoint-between(md,lg) {
		font-size: $font-size-base*1.1;
	}
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base;	        
	}
}

:target {
  display: block;
  position: relative;
  top: -$header-height; 
  visibility: hidden;
}

header{
	padding: 30px 40px;
	position: absolute;
	z-index: $zindex-fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	z-index: 9999;
	.flex-container{
		.logo{
			max-width: 190px !important;
			img{
				width: 100%;
				height: auto;
			}
		}
		nav{
			ul{
				margin-bottom: 0;
				li{
					display: inline;
					a{
						font-size: 12px;
						color: $white;
						text-transform: uppercase;
						text-decoration: none;
						margin: 0 0.4vw;
						font-weight: bold;						
						&:hover{
							color: $white;
						}
					}
				}
			}
		}
		.secondary-nav{
			ul{
				margin-bottom: 0;
				li{
					display: inline;
					a{
						color: $white;
						&:hover{
							color: $white;
						}
					}
				}
			}			
		}
	}
}
.flex-container{
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center; 
	-webkit-align-items: center; 
	-moz-box-align: center; 
	-ms-flex-align: center; 
	align-items: center; 
	-webkit-box-pack: center; 
	-webkit-justify-content: center; 
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;
}
.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.site-cover{
	width: 100vw;
	height: 95vh;
	min-height: 600px;
	z-index: 0;
	background-image: url('https://via.placeholder.com/1920x800');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    .swiper-container {
      width: 100%;
      height: 100%;
      background-color: $gray-overlay;
    }
    .swiper-slide {
      border-right: solid 1px $white-overlay;
      text-align: center;
      font-size: 18px;
      background: none;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }	
    .cover-slide{
    	@extend .px-3;
    	margin-bottom: 10px;
    	margin-top: auto;
		text-align: left;
		.bar{
			display: block;
			background-color: $vincent-blue;
			height: 5px;
			width: 25px;
			margin-left: 10px;
			margin-right: auto;
			margin-bottom: 20px;
		}
    	h1{
			font-weight: 900;
			line-height: 1.1;
			margin-bottom: 15px;
    		color: $white;
    	}

    	.hidden-desc{
			height: 0px;
			transition:height 0.5s; 
			overflow: hidden;
    		-webkit-transition:height 0.5s; 
    		.grow{
				height: 190px;			
			    transition:height 0.5s; 
    			-webkit-transition:height 0.5s; 

			}
			a{
				@extend .btn;
				@extend .btn-secondary;
				text-decoration: none;
				font-weight: bold;
				color: white;
				&:hover{
					color: white;
					text-decoration: none;
				}
			}
			p{
				line-height: 0.95;
				color: $text-light-gray;
			}
    	}
    }
}
#porque-elegirnos{
	padding-top: 115px;
	padding-bottom: 85px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1{
		font-size: 48px;

	}
	p{
		font-size: 22px;
		line-height: 1.5;
		color: #6b7c93;
	}
	.card{
		@extend .my-2;
		@include media-breakpoint-between(lg,xl) {
			height: 240px ;
		}
		@include media-breakpoint-between(md,lg) {
			min-height: 250px ;
		}
		@include media-breakpoint-down(sm) {
			height:auto;	        
		}
		-webkit-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		-moz-box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		box-shadow: 3px 5.196px 12px 0 rgba(0,0,0,.07);
		border-color: transparent;		

		.card-body{
			color: $text-black;
			img{
				@extend .mx-auto;
				display: block;
			}
			h3{
				font-weight: bold;
				text-align: center;
				color: inherit;
			}
			p{
				line-height: 1.3;
				text-align: center;
				font-size: 15px;
				color: inherit;
			}

		}
	}
}
#gmap{
	overflow: hidden;
	iframe{
		margin-top: -50px;
		margin-bottom: -20px;
		margin-right: -4px;
		margin-left: -4px;
	}
}