.banner-mundo-offgrid{
	min-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex !important;
	@include media-breakpoint-up(sm) {
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		justify-content: space-between;
		align-items:center;
		margin-bottom: 280px ;
	}
}
.inverter-gallery{
	width: 300px;
	pointer-events:none;
}
img.victroninverter{
	pointer-events: none;
	width: 300px;
	height: auto;
	display: block;
	position: absolute;
	margin: 0 auto;
	opacity: 1;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    @include media-breakpoint-up(sm) {
		transform: translate(0,100px);
    }
    @include media-breakpoint-down(sm) {
		transform: translate(0,-130px);
	}
	&.hide{
		opacity: 0;
	}
}
.victron-header{
	align-self: flex-start;
	padding: 30px 15px;
}


/*animation: move 4s ease-in-out infinite alternate;
@keyframes move {
  to { transform: translate(0,100px); }
}
*/

